﻿<template>
  <header class="header" id="top">
    <!-- Hamburger Icon  -->
    <nav id="sidebarNew">
      <ul class="list-unstyled components">
        <menu-item-mobil v-for="link in links" :link="link" :key="link.id"></menu-item-mobil>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-2 text-right mt-5"><span class="text-info">Feedbacks:</span></div>
        <div class="col-xs-10">
          <div class="marquee-container" v-if="feedbacks">
            <p class="marquee">
              <ul>
                <li v-for="item in feedbacks" onclick="location.href='/feedback'" :key="item.id">
                  <b>{{item.name}}:</b>{{item.title}}
                </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="mh-header">
          <div class="mh-head">
            <span class="mh-btns-left">
              <a class="mh-hamburger" href="#sidebarNew"></a>
            </span>
            <span class="mh-image">
              <a href="/">
                <span class="normal-span">
                  <img :src="settings.topBarLogo">
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="top-container">
      <div class="container">

        <div class="row">
          <nav class="navbar navbar-full">
            <div class="navbar-header">
              <a href="/">
                <img :src="settings.topBarLogo">
              </a>
            </div>
            <div class="navbar-collapse">
              <ul class="nav navbar-nav">
                <menu-item v-for="link in links.filter(x=>x.url!='/')" :link="link" :key="link.id" :sidebar="false"></menu-item>
              </ul>
            </div>
          </nav>

        </div>
      </div>

    </div>
  </header>
</template>

<script>
  import { mapState, mapActions, mapGetters } from "vuex";
  import MenuItem from "../UI/MenuItem.vue";
  import MenuItemMobil from "../UI/MenuItemMobil.vue";
  export default {
    components: {
      MenuItem,
      MenuItemMobil
    },
    computed: {
      ...mapState({
        links: state => state.links.allHierarchical,
        settings: state => state.settings.model,
        feedbacks: state => state.feedbacks.all,
      })
    },
    created() {
      this.$store.dispatch("links/GetLinkHierarchy");
      this.$store.dispatch("feedbacks/getAll", true);
    },

  }
</script>

<style>


  #sidebarNew {
    min-width: 250px;
    background: #fff;
    color: #333;
    transition: all 0.3s;
  }

    #sidebarNew.active {
      margin-left: -200px;
    }

    #sidebarNew .sidebar-header {
      padding: 20px;
      background: #fff;
    }

    #sidebarNew ul.components {
    }

    #sidebarNew ul p {
      color: #333;
      padding: 10px;
    }

    #sidebarNew ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color: #333;
    }

      #sidebarNew ul li a:hover {
        color: #333;
        background: #fff;
      }

    #sidebarNew ul li.active > a,
    a[aria-expanded="true"] {
      color: #333;
    }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
  }

  ul.CTAs {
    padding: 20px;
  }

    ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }

  a.download {
    background: #fff;
    color: #333;
  }

  a.article,
  a.article:hover {
    background: #fff !important;
    color: #333 !important;
  }

  .mm-title {
    color: #333 !important;
  }

  .sticky-wrapper {
    height: unset !important;
    z-index: unset !important;
  }
</style>