﻿@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Neta Yachting Yönetim Paneli";
}

<div id='app'>Yükleniyor...</div>

@section scripts {
  <script src="~/dist/admin.js" asp-append-version="true"></script>
}