﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - netayachting.com</title>
  <base href="~/" />
  @RenderSection("head", required: false)
</head>
<body style="background-image:url(/images/netabackground.jpg);background-repeat: no-repeat; width: auto;
    height: 100%;  background-size: cover;">
  @RenderBody()
  @RenderSection("scripts", required: false)
</body>
</html>