﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
  Layout = "_AdminLayout";
  ViewData["Title"] = "Log in";
}


<style lang="scss" scoped>

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }

    .form-signin .checkbox {
      font-weight: normal;
    }

    .form-signin .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

      .form-signin .form-control:focus {
        z-index: 2;
      }

    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

  .account-wall {
    margin-top: 280px;
    padding: 40px 0px 60px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin-left: 26px;
  }

  .login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
  }

  .profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .need-help {
    margin-top: 10px;
  }

  .new-account {
    display: block;
    margin-top: 10px;
  }
</style>


<div class="container" style="width:100%">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-1">
      <div class="account-wall">
        <img class="profile-img" src="~/images/logo.png" alt="Neta Yachting Management Panel">
        <h1 class="text-center login-title">Neta Yachting<br />Yönetim Paneli</h1>
        <form class="form-signin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
          <input asp-for="Email" type="text" class="form-control" placeholder="E-Posta" required autofocus>
          <input asp-for="Password" type="password" class="form-control" placeholder="Şifre" required>
          <div asp-validation-summary="All" class="text-danger"></div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş Yap</button>
        </form>
      </div>
    </div>
  </div>
</div>


@section scripts {
  <script src="~/dist/admin.js" asp-append-version="true"></script>
}