﻿<template>
  <div :class="{'nav-open': $sidebar.showSidebar}">
    <router-view></router-view>
    <!--This sidebar appears only for screens smaller than 992px-->
    <side-bar type="navbar" :sidebar-link="getSideBarLinks">
      <ul class="nav navbar-nav">
        <drop-down :title="authenticatedUserName" icon="ti-user">
          <li><a v-on:click="logout">Çıkış</a></li>
        </drop-down>
        <li class="divider"></li>
      </ul>
    </side-bar>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Bootstrap from 'bootstrap';
  //import Multiselect from 'vue-multiselect';
  import DatePicker from 'vue2-datepicker'

  import multiSelect from 'vue-multi-select';
  import 'vue-multi-select/dist/lib/vue-multi-select.min.css';


  import VuejsDialog from "vuejs-dialog";
  import { mapState, mapActions, mapGetters } from 'vuex';

  import VueGoodTablePlugin from 'vue-good-table';
  import 'vue-good-table/dist/vue-good-table.css'
  import { VueGoodTable } from 'vue-good-table';

  Vue.use(VueGoodTablePlugin);
  Vue.use(VuejsDialog, {
    html: true,
    loader: true,
    okText: 'Tamam',
    cancelText: 'İptal',
    animation: 'bounce',
  })

  Vue.component('vue-good-table', VueGoodTable);
  Vue.component('multiselect', multiSelect);
  Vue.component('date-picker', DatePicker);

  export default {
    computed: {
      ...mapGetters('member', ['authenticatedUserName', 'isLoggedOut']),
      ...mapState('member', ['authenticatedUser']),
      getSideBarLinks() {
        let links = [];
        if (!this.authenticatedUser) {
          return [];
        }

        if (this.authenticatedUser.roles.filter(x => x.name == 'Admin').length > 0) {
          links = links.concat(this.$sidebar.sidebarLinksAll);
        }

        if (this.authenticatedUser.roles.filter(x => x.name == 'Editor').length > 0) {
          links = links.concat(this.$sidebar.sidebarLinksEditor);
        }

        if (this.authenticatedUser.roles.filter(x => x.name == 'Insan_Kaynaklari').length > 0) {
          links = links.concat(this.$sidebar.sidebarLinksIK);
        }

        if (this.authenticatedUser.roles.filter(x => x.name == 'Call_Center').length > 0) {
          links = links.concat(this.$sidebar.sidebarLinksCallCenter);
        }

        let authLinks = [];
        if (links.length > 0) {
          for (var i in links) {
            if (authLinks.filter(x => x.name == links[i]).length == 0) {
              authLinks.push(links[i]);
            }
          }
        }
        this.$sidebar.sidebarLinks = authLinks;
        return authLinks;
      }
    },
    watch: {
      isLoggedOut: function () {
        if (this.isLoggedOut)
          window.location = '/admin';
      }
    },
    created() {
      this.$store.dispatch("member/getAuthenticatedUser");
    },
    methods: {
      logout() {
        this.$store.dispatch("member/logout");

      },

    }
  }
</script>
<style>
  @import '../App/css/themify-icons.css';
</style>
