﻿@charset "UTF-8";
/*-------------------------------------------------------------------------------
  1. Global | 1.1 Body
-------------------------------------------------------------------------------*/

body {
  overflow-x: hidden;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.fr-element p {
  line-height: 24px;
}

.fr-element h2 {
  line-height: 68px;
}

.fr-element ul {
  margin-left: 10px;
  padding-left: 20px;
}

  .fr-element ul li {
    list-style-position: outside;
    list-style: square !important;
  }

/*feedback marque*/
.marquee-container {
  width: 100%;
  height: 3em;
  margin: 1em auto;
  overflow: hidden;
  background: white;
  position: relative;
  box-sizing: border-box;
}

.marquee {
  top: 3 em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}

  .marquee:hover {
    animation-play-state: paused;
  }

/* Make it move! */
@keyframes marquee {
  0% {
    top: 8em
  }

  100% {
    top: -11em
  }
}

/* Make it look pretty */
.microsoft .marquee {
  margin: 0;
  padding: 0 1em;
  line-height: 1.5em;
  font: 1em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.microsoft:before, .microsoft::before,
.microsoft:after, .microsoft::after {
  left: 0;
  z-index: 1;
  content: '';
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 2em;
  background-image: linear-gradient(180deg, #FFF, rgba(255,255,255,0));
}

.microsoft:after, .microsoft::after {
  bottom: 0;
  transform: rotate(180deg);
}

.microsoft:before, .microsoft::before {
  top: 0;
}


/*SLICK SLIDER*/
#home-slider-area {
  width: 100%;
}

.home-slider img {
  width: 100%;
}

.above {
  font-family: verdana;
  position: absolute;
  display: inline-block;
  color: red;
  font-weight: bold;
  font-size: 12px;
  padding: 24px;
  border: solid 4px red;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 16px;
  z-index: 1;
}

/*slider-end*/

.float-none {
  float: none;
}

.label {
  color: #fff !important;
  margin-left: 5px;
}

.caption h5 {
  color: #505050 !important;
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

  ul li {
    list-style: none;
  }

    ul li i {
      color: #06b2b6;
    }

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
  }

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/*-------------------------------------------------------------------------------
  1. Global | 1.2 Buttons
-------------------------------------------------------------------------------*/

.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  color: #fffefe;
  border-radius: 0px;
  padding: 10px 25px 10px 25px;
}

  .btn.btn-default {
    background: #06b2b6;
    border: 1px solid #06b2b6;
  }

    .btn.btn-default:hover, .btn.btn-default:focus {
      background: #059a9d;
      border: 1px solid #059a9d;
      color: #fff;
    }

  .btn.btn-primary {
    background: #fff;
    border: 1px solid #fff;
    color: #606060;
  }

    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #606060;
      border: 1px solid #606060;
      color: #fff;
    }

  .btn.btn-secondary {
    background: #424242;
    border: 1px solid #424242;
    color: #fff;
    padding: 10px 15px 10px 15px;
    margin-right: 5px;
  }

    .btn.btn-secondary:hover, .btn.btn-secondary:focus {
      background: #06b2b6;
      border: 1px solid #06b2b6;
    }

/*-------------------------------------------------------------------------------
  1. Global | 1.3 Typography
-------------------------------------------------------------------------------*/

.no-l-padding {
  padding-left: 0px;
}

.no-r-padding {
  padding-right: 0px;
}

.no-t-padding {
  padding-top: 0px;
}

.no-b-padding {
  padding-bottom: 0px;
}

.no-margin {
  margin: 0px;
}

a {
  text-decoration: none;
}

  a:hover, a:focus {
    text-decoration: none;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 0px;
}

h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 2px;
  color: #ffffff;
}

  h1.fun-facts-count {
    font-size: 40px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 20px;
  }

h2 {
  font-weight: 700;
  color: #404040;
  font-size: 30px;
  margin: 0px;
}

h3 {
  font-size: 30px;
  line-height: 24px;
  color: #404040;
}

  h3.about-head {
    color: #06b2b6;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 37px;
  }

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #404040;
}

  h4.post-head {
    font-size: 16px;
    font-weight: 600;
    color: #505050;
    margin-top: 0px;
  }

  h4.department-tab {
    font-size: 20px;
    color: #505050;
    letter-spacing: 1px;
    margin-top: 33px;
  }

  h4.subpage-head {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
  }

  h4.premedi-story {
    font-size: 20px;
    margin: 0px;
  }

  h4.blog-list-head {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
  }

h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #404040;
  margin-bottom: 0px;
}

  p.department-para {
    color: #606060;
    margin-bottom: 30px;
  }

.divider {
  position: relative;
  padding: 0px 60px;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
}

  .divider span i {
    color: #939393;
    font-size: 20px;
  }

  .divider span::before {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    left: -95px;
    margin-top: 10px;
  }

  .divider span::after {
    content: '';
    height: 1px;
    background: #ccc;
    width: 140px;
    position: absolute;
    right: -95px;
    display: inline-block;
    margin-top: 10px;
  }

.top-text {
  margin-bottom: 63px;
}

  .top-text p {
    color: #606060;
  }

/*-------------------------------------------------------------------------------
  1. Global | 1.4 Loader
-------------------------------------------------------------------------------*/
svg path,
svg rect {
  fill: #FF6700;
}


.loader {
  background: #000;
  position: fixed;
  z-index: 10000;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

  .loader .preview {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
  }

/*------------------------------
   HOME PAGE SEARCH
------------------------------------*/

.search-home {
  top: 68%;
  position: absolute;
  z-index: 99;
  display: inline-block;
  left: 0;
  right: 0;
}

  .search-home .search-home-form {
    background-color: rgba(18, 32, 39, 0.6);
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

    .search-home .search-home-form h3 {
      color: #FFFFFF;
      font-size: 22px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 22px;
    }

    .search-home .search-home-form .form-group {
      padding: 0 !important;
      margin: 0 !important;
    }

    .search-home .search-home-form select {
      height: 43px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
    }

/* -------------------------------------

3 Global Sections - Header 
---------------------------------------- */
.navbar-collapse  {

  padding-right: 0px!important;

}
.fixed-top-container {
  background: #fff !important;
  opacity: 0.4;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 9 !important;
}

.header .top-container {
  /*min-height: 112px;*/
  width: 100%;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  z-index: 99999 !important;
  background-color: #fff;
}

  .header .top-container .top-menu {
    padding: 7px 0px;
    padding-bottom: 18px;
  }

    .header .top-container .top-menu p {
      color: #606060;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin-top: 6px;
    }

      .header .top-container .top-menu p span {
        font-weight: 400;
        color: #505050;
        margin-right: 5px;
      }

    .header .top-container .top-menu .social-links {
      margin-top: 6px;
    }

      .header .top-container .top-menu .social-links a {
        font-size: 15px;
        color: #606060;
      }

        .header .top-container .top-menu .social-links a i {
          margin-right: 14px;
        }

          .header .top-container .top-menu .social-links a i.icofont-social-pinterest {
            margin-right: 0px;
          }

        .header .top-container .top-menu .social-links a:hover {
          color: #fff;
        }

    .header .top-container .top-menu .call-now p a {
      color: #606060;
    }

    .header .top-container .top-menu .call-now p:hover a {
      color: #fff;
    }

    .header .top-container .top-menu .email p a {
      color: #606060;
    }

    .header .top-container .top-menu .email p:hover a {
      color: #fff;
    }

    .header .top-container .top-menu .btn.btn-default {
      padding: 7px 30px;
    }

.navbar {
  border-radius: 0px !important;
  display: block;
  z-index: 9999999 !important;
}

.navbar-full .navbar-collapse .nav.navbar-nav {
  margin-top: 9px;
  z-index: 99999 !important;
  border-bottom: 2px solid #0099cc;
}

  .navbar-full .navbar-collapse .nav.navbar-nav li {
  }

    .navbar-full .navbar-collapse .nav.navbar-nav li a {
      padding: 20px 20px;
      background: transparent;
      color: #505050;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 14px;
    }

    .navbar-full .navbar-collapse .nav.navbar-nav li:hover a, .navbar-full .navbar-collapse .nav.navbar-nav li.active a {
      /*border-bottom: 1px solid #e95a07;
        padding-bottom: 20px;*/
      color: #0099cc;
    }

    .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open > a {
      background: transparent;
      border-bottom: 0px;
    }

    .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu {
      transition: all 500ms ease 0s;
    }

      .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li {
        margin-right: 0px;
      }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li a {
          padding: 10px 10px 10px 10px;
          color: #fff;
          border-bottom: none;
        }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li:hover > a, .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.active > a {
          color: #505050;
        }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a span {
          display: none;
        }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a::after {
          border-color: transparent transparent transparent #333;
          border-left-color: #333333;
          border-left-color: #333333;
          border-style: solid;
          border-width: 5px 0 5px 5px;
          content: " ";
          display: block;
          float: right;
          height: 0;
          margin-right: 8px;
          margin-top: -16px;
          width: 0;
        }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown > a:hover::after {
          border-left-color: #505050;
        }

        .navbar-full .navbar-collapse .nav.navbar-nav li.dropdown.open .dropdown-menu li.dropdown:hover .dropdown-menu {
          display: block;
          left: 163px;
          top: 6px;
        }

/*------------------------------------------------------------
                  Counter Area 
 -------------------------------------------------------------*/

.fact-counter-area {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 17px;
  padding-top: 37px;
  position: relative;
  z-index: 1;
}

  .fact-counter-area ul li {
    display: inline-block;
    border-right: 1px solid #29a1d4;
    margin-bottom: 30px;
  }

    .fact-counter-area ul li:last-child {
      border-right: none;
    }

  .fact-counter-area .single-item {
    width: 100%;
    display: block;
    padding: 0px 25px 0px;
    transition: all 500ms ease;
    position: relative;
  }

    .fact-counter-area .single-item h2 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
    }

    .fact-counter-area .single-item h3 {
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: capitalize;
      font-family: 'Hind', sans-serif;
      margin: 11px 0 0;
    }

/* ----------------------------------------------
      Our Specialist - Doctors
    ------------------------------------------------*/

.doctors-3col-tabs {
  padding-top: 25px;
  padding-bottom: 25px
}

  .doctors-3col-tabs .content-tabs {
    background: none;
    border: none;
    margin: 0 0 20px 0;
    float: left
  }

  .doctors-3col-tabs .nav-tabs {
    border-top: 1px solid #e6e7e8;
    border-bottom: none
  }

    .doctors-3col-tabs .nav-tabs > li > a {
      margin-right: 2px;
      line-height: 1.428571429;
      border: none;
      border-radius: 0px;
      color: #6d6d6d
    }

  .doctors-3col-tabs .nav > li > a {
    position: relative;
    display: block;
    padding: 0px 0px;
    height: 41px;
    line-height: 41px;
    margin: 0 27px
  }

  .doctors-3col-tabs .nav-tabs > li.active > a, .doctors-3col-tabs .nav-tabs > li.active > a:hover, .doctors-3col-tabs .nav-tabs > li.active > a:focus {
    color: #107fc9;
    border: none;
    border-bottom-color: none;
    cursor: default;
    background: none;
    margin-top: 0
  }

  .doctors-3col-tabs .nav > li > a:hover, .doctors-3col-tabs .nav > li > a:focus {
    text-decoration: none;
    background: none;
    margin-top: 0;
    color: #107fc9
  }

  .doctors-3col-tabs .nav-tabs > li.active > a:before {
    content: '';
    width: 100%;
    background: #107fc9;
    height: 3px;
    position: absolute;
    top: -2px;
    left: 0%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
  }

  .doctors-3col-tabs .nav > li > a:before {
    content: '';
    width: 0px;
    background: #107fc9;
    height: 3px;
    position: absolute;
    top: -2px;
    left: 50%;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
  }

  .doctors-3col-tabs .nav > li:hover > a:before {
    width: 100%;
    left: 0
  }

.doctor-box {
  padding-bottom: 30px
}

  .doctor-box img {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%
  }

.zoom-icon {
  background: url(/images/ov-plus.png) no-repeat center;
  height: 83px;
  width: 83px;
  display: none;
  top: 30%;
  position: absolute;
  margin: 0 auto;
  z-index: 999;
  left: 39%
}

.zoom-wrap {
  position: relative;
  float: left;
  width: 100%
}

  .zoom-wrap:hover .zoom-icon {
    display: block
  }

  .zoom-wrap:hover img {
    opacity: .7;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s
  }

.doc-name {
  width: 100%;
  padding: 10px 0 0 0;
  float: left;
  border: 1px solid #e6e7e8;
  text-align: center;
  border-top: none
}

  .doc-name hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #e6e7e8;
    width: 91%
  }

  .doc-name p {
    text-align: center;
    line-height: 21px;
    font-weight: normal;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px
  }

.doc-name-class {
  font-size: 17px;
  font-weight: bold;
  color: #107fc9;
  line-height: 1.3em
}

.doc-title {
  color: #6d6d6d;
  font-weight: normal;
  font-size: 15px
}

/*
 * --- Global Sections - CTA ----
 */

/* -------------------------------------
3 Global Sections - Call to Action 
---------------------------------------- */

/* --------------------
3.2 Section - Call to Action
----------------------- */

.cta {
  padding: 57px 0px 60px;
  background: #fff;
}

  .cta .cta-text {
    text-align: center;
  }

    .cta .cta-text h3 {
      font-weight: 700;
      color: #fff;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 15px;
    }

    .cta .cta-text p {
      color: #fff;
      margin-bottom: 37px;
    }

    .cta .cta-text .btn-primary:hover {
      color: #fff;
    }

/*
 * --- Global Sections - Banner ----
 */

/* -------------------------------------
3 Global Sections - Home page Banner 
---------------------------------------- */

/*
 * --- Global Sections - Our Department ----
 */

/* -------------------------------------
3 Global Sections - Our Department 
---------------------------------------- */

/* --------------------
3.4 Section - Our Department
----------------------- */

.our-department {
  padding: 24px 0px 110px;
}

  .our-department .nav-pills li {
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 1px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

    .our-department .nav-pills li a {
      color: #505050;
      /* font-size: 18px; */
      font-size: 14px;
      padding: 15px 20px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      text-transform: uppercase;
    }

      .our-department .nav-pills li a i {
        font-size: 20px;
        color: #505050;
        margin-right: 20px;
      }

      .our-department .nav-pills li a:hover, .our-department .nav-pills li a:focus {
        background: #fff;
        color: #fff;
      }

        .our-department .nav-pills li a:hover i, .our-department .nav-pills li a:focus i {
          color: #fff;
        }

    .our-department .nav-pills li.active {
      box-shadow: none;
    }

      .our-department .nav-pills li.active a {
        background: #fff;
        color: #fff;
      }

        .our-department .nav-pills li.active a i {
          color: #fff;
        }

      .our-department .nav-pills li:hover:after, .our-department .nav-pills li:hover:before, .our-department .nav-pills li.active:after, .our-department .nav-pills li.active:before {
        left: 100%;
        top: 23%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      .our-department .nav-pills li:hover:after, .our-department .nav-pills li.active:after {
        border-left-color: #fff;
        border-width: 13px;
      }

      .our-department .nav-pills li:hover:before, .our-department .nav-pills li.active:before {
        border-left-color: #fff;
        border-width: 13px;
      }

  .our-department .horizantal-tab.nav-pills {
    margin-bottom: 70px;
    padding-left: 15px;
  }

    .our-department .horizantal-tab.nav-pills li {
      float: left;
      margin-right: 30px;
      background: transparent;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      min-width: 165px;
      text-align: center;
    }

      .our-department .horizantal-tab.nav-pills li a {
        border-radius: 5px;
        text-transform: capitalize;
        padding: 27px 25px;
      }

        .our-department .horizantal-tab.nav-pills li a i {
          display: block;
          text-align: center;
          margin-bottom: 10px;
          margin-right: 0px;
        }

        .our-department .horizantal-tab.nav-pills li a:hover::before {
          position: absolute;
          top: 87px;
          left: 75px;
          color: #fff;
          font-size: 30px;
        }

      .our-department .horizantal-tab.nav-pills li:last-child {
        margin-right: 0px;
      }

      .our-department .horizantal-tab.nav-pills li.active {
        box-shadow: none;
      }

        .our-department .horizantal-tab.nav-pills li.active a::before {
          content: "♦";
          position: absolute;
          top: 87px;
          left: 75px;
          color: #fff;
          font-size: 30px;
        }

      .our-department .horizantal-tab.nav-pills li:after, .our-department .horizantal-tab.nav-pills li:before {
        display: none;
      }

      .our-department .horizantal-tab.nav-pills li:hover a::before {
        content: "♦";
        position: absolute;
        top: 87px;
        left: 75px;
        color: #fff;
        font-size: 30px;
      }

  .our-department .tab-content .tab-pane {
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
  }

    .our-department .tab-content .tab-pane .tab-image {
      overflow: hidden;
    }

      .our-department .tab-content .tab-pane .tab-image img {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

        .our-department .tab-content .tab-pane .tab-image img:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }

    .our-department .tab-content .tab-pane ul li {
      padding-bottom: 20px;
      vertical-align: middle;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: #505050;
    }

      .our-department .tab-content .tab-pane ul li i {
        font-size: 15px;
        color: #fff;
        margin-right: 15px;
        vertical-align: middle;
      }

    .our-department .tab-content .tab-pane .btn-default {
      padding: 11px 22px 11px 23px;
    }

    .our-department .tab-content .tab-pane.active {
      -webkit-transition: opacity ease-out 0.2s 0.1s;
      -moz-transition: opacity ease-out 0.2s 0.1s;
      -o-transition: opacity ease-out 0.2s 0.1s;
      -ms-transition: opacity ease-out 0.2s 0.1s;
      transition: opacity ease-out 0.2s 0.1s;
    }

/*
 * --- Global Sections - Our Sevices ----
 */

/* -------------------------------------
3 Global Sections - Our Services 
---------------------------------------- */

/* --------------------
3.5 Section - Our Services
----------------------- */

.our-services {
  padding: 40px 0px 47px;
  background: #f4f4f4;
}

  .our-services .top-text h2 {
    margin-bottom: 3px;
  }

  .our-services .services-box {
    background: #fff;
    padding: 23px 12px 31px 12px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    max-height: 250px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

    .our-services .services-box i {
      font-size: 25px;
      border: 1px solid #fff;
      display: inline-block;
      padding: 25px;
      border-radius: 16px;
      margin-bottom: 21px;
    }

    .our-services .services-box h4 {
      color: #505050;
      margin-bottom: 13px;
      font-size: 14px;
    }

    .our-services .services-box p {
      color: #606060;
      line-height: 22px;
    }

    .our-services .services-box:hover {
      box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s ease-in-out;
    }

      .our-services .services-box:hover i {
        background: #fff;
        color: #fff;
      }

      .our-services .services-box:hover h4 {
        color: #fff;
      }

/*
 * --- Global Sections - Appoinment Form ----
 */

/* -------------------------------------
3 Global Sections - Appoinment section 
---------------------------------------- */

/* --------------------
3.6 Section - Appoinment section
----------------------- */

.appoinment {
  padding: 84px 0px 70px;
  background: url("~/images/newappoinment-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
}

  .appoinment img {
    position: absolute;
    top: -180px;
  }

/*
 * --- Global Sections - Our Specialist ----
 */

/* -------------------------------------
3 Global Sections - Our Specialist
---------------------------------------- */

/* --------------------
3.7 Section - Our Specialist
----------------------- */

.our-specialist {
  padding: 0px 0px 0px;
}

  .our-specialist .top-text {
    margin-bottom: 53px;
  }

  .our-specialist .our-specialist-carousel .owl-item > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .our-specialist .our-specialist-carousel .item {
    display: inline-block;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

    .our-specialist .our-specialist-carousel .item .item-holder {
      padding-bottom: 145px;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }

      .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder {
        overflow: hidden;
      }

        .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder img {
          -webkit-transition: -webkit-transform 0.8s;
          -moz-transition: -moz-transform 0.8s;
          transition: transform 0.8s;
        }

        .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder {
          height: 150px;
          width: 100%;
          bottom: 0;
          position: absolute;
          padding: 30px 0px 30px;
          color: #1f1f1f;
          text-align: center;
          overflow: hidden;
          -webkit-transition: height 0.4s;
          -moz-transition: height 0.4s;
          transition: height 0.4s;
        }

          .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #fff !important;
            -webkit-transition: height 0.4s;
            -moz-transition: height 0.4s;
            transition: height 0.4s;
            left: 0;
          }

          .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info {
            position: relative;
            margin-bottom: 15px;
          }

            .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info p {
              /*font-family: 'Roboto', sans-serif;*/
              font-weight: 500;
            }

            .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info .depart {
              /*font-family: 'Roboto', sans-serif;*/
              font-weight: 300;
              display: block;
              margin-bottom: 20px;
            }

            .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name {
              margin-bottom: 22px;
            }

          .our-specialist .our-specialist-carousel .item .item-holder .awsm-grid-holder .item-data-holder .awsm-contact-info {
            opacity: 0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
            -moz-transition: -moz-transform 0.4s, opacity 0.1s;
            transition: transform 0.4s, opacity 0.1s;
          }

      .our-specialist .our-specialist-carousel .item .item-holder:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name {
          color: #fff;
        }

          .our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .doctor-name::before {
            background: #fff;
          }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info p {
          color: #fff;
        }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-personal-info .depart {
          color: #fff;
        }

        .our-specialist .our-specialist-carousel .item .item-holder:hover img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .item-data-holder {
          height: 186px;
          color: #fff;
        }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .awsm-grid-holder .item-data-holder .awsm-contact-info {
          opacity: 1;
          -webkit-transform: translateY(0px);
          -moz-transform: translateY(0px);
          -ms-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
        }

        .our-specialist .our-specialist-carousel .item .item-holder:hover .item-data-holder::before {
          height: 100%;
          -webkit-transition: height 0.2s;
          -moz-transition: height 0.2s;
          transition: height 0.2s;
          background: #fff !important;
        }

  .our-specialist .our-specialist-carousel .owl-nav, .our-specialist .our-specialist-carousel .owl-dot {
    display: none;
  }

  .our-specialist .customNavigation {
    text-align: center;
    margin-top: 37px;
  }

    .our-specialist .customNavigation .customPrevBtn, .our-specialist .customNavigation .customNextBtn {
      background: #404040;
      padding: 5px 20px;
      font-size: 25px;
    }

      .our-specialist .customNavigation .customPrevBtn:hover, .our-specialist .customNavigation .customNextBtn:hover {
        background: #fff;
        color: #fff;
      }

    .our-specialist .customNavigation .customPrevBtn {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: 7px;
    }

    .our-specialist .customNavigation .customNextBtn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: 7px;
    }

    .our-specialist .customNavigation .btn-default {
      border-radius: 0px;
      padding-top: 12px;
    }

/*
 * --- Global Sections - Our Specialist ----
 */

/* -------------------------------------
3 Global Sections - Recent Post
---------------------------------------- */

/* --------------------
3.8 Section - Recent Post
----------------------- */

.recent-post {
  padding: 0px 0px 81px;
  background: #f4f4f4;
}

  .recent-post .recent-post-carousel.owl-theme .item {
    position: relative;
    bottom: 10px;
  }

    .recent-post .recent-post-carousel.owl-theme .item .post-area {
      background: #fff;
      box-shadow: 4px 5px 2px -5px rgba(0, 0, 0, 0.2);
    }

      .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
        overflow: hidden;
        float: left;
      }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
          width: auto;
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -o-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

      .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
        padding: 19px 20px 19px 20px;
        display: table-cell;
      }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head a {
          color: #505050;
          font-size: 16px;
        }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head:hover a {
          color: #fff;
        }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details span {
          display: inline-block;
          margin-bottom: 5px;
          color: #5f5f5f;
          font-family: 'Roboto', sans-serif;
        }

          .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details span .comments {
            margin-left: 20px;
          }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details p {
          margin-bottom: 30px;
        }

        .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more {
          font-family: 'Roboto', sans-serif;
          color: #606060;
          font-size: 14px;
          font-weight: 500;
        }

          .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more i {
            font-size: 20px;
            color: #606060;
            vertical-align: middle;
          }

          .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .read-more:hover h4 {
            color: #fff;
          }

      .recent-post .recent-post-carousel.owl-theme .item .post-area:hover {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

        .recent-post .recent-post-carousel.owl-theme .item .post-area:hover .image-holder img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }

        .recent-post .recent-post-carousel.owl-theme .item .post-area:hover .read-more {
          color: #333;
        }

          .recent-post .recent-post-carousel.owl-theme .item .post-area:hover .read-more i {
            color: #333;
          }

  .recent-post .recent-post-carousel.owl-theme .owl-dots {
    display: block;
    margin-top: 45px;
  }

    .recent-post .recent-post-carousel.owl-theme .owl-dots .owl-dot span {
      width: 30px;
      height: 7px;
      margin: 5px 2px;
      background: #fff;
    }

    .recent-post .recent-post-carousel.owl-theme .owl-dots .owl-dot.active span {
      width: 14px;
    }

  .recent-post .normal-post .item {
    margin-bottom: 30px;
  }

    .recent-post .normal-post .item .post-area {
      box-shadow: 5px 5px 2px -5px rgba(0, 0, 0, 0.2);
      background: #fff;
    }

      .recent-post .normal-post .item .post-area .image-holder {
        overflow: hidden;
        float: left;
      }

        .recent-post .normal-post .item .post-area .image-holder img {
          -webkit-transform: scaleY(1);
          -moz-transform: scaleY(1);
          -o-transform: scaleY(1);
          -ms-transform: scaleY(1);
          transform: scaleY(1);
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
        }

      .recent-post .normal-post .item .post-area .post-details {
        padding: 19px 20px 19px 20px;
        display: table-cell;
      }

        .recent-post .normal-post .item .post-area .post-details .post-head a {
          color: #505050;
          font-size: 16px;
        }

        .recent-post .normal-post .item .post-area .post-details .post-head:hover a {
          color: #333;
        }

        .recent-post .normal-post .item .post-area .post-details span {
          margin-bottom: 20px;
          color: #5f5f5f;
          font-family: 'Roboto', sans-serif;
        }

          .recent-post .normal-post .item .post-area .post-details span .comments {
            margin-left: 20px;
          }

        .recent-post .normal-post .item .post-area .post-details p {
          margin-bottom: 30px;
        }

        .recent-post .normal-post .item .post-area .post-details .read-more {
          font-family: 'Roboto', sans-serif;
          color: #606060;
          font-size: 14px;
          font-weight: 500;
        }

          .recent-post .normal-post .item .post-area .post-details .read-more i {
            font-size: 20px;
            color: #606060;
            vertical-align: middle;
          }

      .recent-post .normal-post .item .post-area:hover {
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      }

        .recent-post .normal-post .item .post-area:hover .image-holder img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }

        .recent-post .normal-post .item .post-area:hover .read-more {
          color: #333;
        }

          .recent-post .normal-post .item .post-area:hover .read-more i {
            color: #333;
          }

  .recent-post .normal-post .owl-dots {
    display: none;
  }


/*
 * --- Global Sections - Parents Feedback ----
 */

/* -------------------------------------
3 Global Sections - Parents Feedback
---------------------------------------- */

/* --------------------
3.9 Section - Parents Feedback
----------------------- */

.parents-feedback {
  background: url("~/images/feedback-bg.jpg");
  background-repeat: repeat;
  background-size: auto auto;
}

  .parents-feedback .layer {
    background-color: rgba(6, 178, 182, 0.9);
    padding: 100px 0px 130px;
  }

    .parents-feedback .layer .top-text {
      margin-bottom: 57px;
    }

      .parents-feedback .layer .top-text h2, .parents-feedback .layer .top-text p {
        color: #fff;
      }

      .parents-feedback .layer .top-text .divider span::before, .parents-feedback .layer .top-text .divider span::after {
        background: #dddddd;
      }

      .parents-feedback .layer .top-text .divider span i {
        color: #dddddd;
      }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .item img {
      width: auto;
      display: inline-block;
      border-radius: 100%;
      border: 3px solid #fff;
    }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .item span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      display: block;
      color: #fff;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .item i {
      display: none;
    }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .item p {
      margin-bottom: 28px;
      color: #fff;
      max-width: 800px;
      display: inline-block;
    }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .item h4 {
      margin: 0px;
      color: #fff;
      font-size: 16px;
      font-weight: 500px;
    }

    .parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots {
      display: block;
      margin-top: 45px;
    }

      .parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots .owl-dot span {
        width: 30px;
        height: 7px;
        margin: 5px 2px;
        background: #fff;
      }

      .parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots .owl-dot.active span {
        width: 14px;
      }

    .parents-feedback .layer .normal-feedback .item {
      display: inline-block;
      background: #fff;
      padding: 25px;
      padding-bottom: 50px;
    }

      .parents-feedback .layer .normal-feedback .item img {
        position: absolute;
        left: 150px;
        border-radius: 100%;
        width: 70px;
        border: 3px solid #fff;
      }

      .parents-feedback .layer .normal-feedback .item span {
        display: block;
        color: #606060;
        margin-bottom: 10px;
      }

      .parents-feedback .layer .normal-feedback .item i {
        font-size: 30px;
        color: #ccc;
        margin-bottom: 20px;
        display: inline-block;
      }

      .parents-feedback .layer .normal-feedback .item p {
        margin-bottom: 25px;
      }

      .parents-feedback .layer .normal-feedback .item h4 {
        margin: 0px;
        color: #606060;
        font-size: 15px;
      }

    .parents-feedback .layer .normal-feedback .owl-dots {
      display: none;
    }

/*
 * --- Global Sections - Sub Page Banner ----
 */

/* -------------------------------------
3 Global Sections - Sub Page Banner
---------------------------------------- */

/* --------------------
3.10 Section - Sub Page Banner
----------------------- */

.sub-page-banner {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  height: 30vh;
  background: url("~/images/home-v3.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% auto;
}

  .sub-page-banner .layer {
    width: 100%;
    height: 100%;
    padding-top: 7%;
  }

    .sub-page-banner .layer .subpage-banner-text {
    }

      .sub-page-banner .layer .subpage-banner-text h5 {
        margin-bottom: 0px;
      }

        .sub-page-banner .layer .subpage-banner-text h5 a {
          color: #fff;
        }

          .sub-page-banner .layer .subpage-banner-text h5 a:hover {
            color: #fff;
          }

        .sub-page-banner .layer .subpage-banner-text h5 i {
          margin-right: 5px;
          margin-left: 5px;
          font-size: 20px;
          vertical-align: middle;
        }

/*
 * --- Global Sections - About ----
 */

/* -------------------------------------
3 Global Sections - About Section
---------------------------------------- */

/* --------------------
3.11 Section - About Section
----------------------- */

.about {
  padding: 107px 0px 0px;
}

  .about .about-premedi {
    padding: 28px 0px 100px;
  }

    .about .about-premedi p {
      color: #606060;
      margin-bottom: 36px;
    }

    .about .about-premedi .premedi-story {
      color: #505050;
      margin-top: 37px;
      margin-left: 0px;
    }

      .about .about-premedi .premedi-story i {
        margin-right: 15px;
      }

    .about .about-premedi h4 {
      margin-top: 56px;
      margin-left: 16px;
    }

    .about .about-premedi ul li {
      float: left;
      width: 100%;
      border-bottom: 1px dashed #dddddd;
      padding-bottom: 13px;
      padding-top: 20px;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }

/*
 * --- Global Sections - Fun Facts ----
 */

/* -------------------------------------
3 Global Sections - Fun Facts
---------------------------------------- */

/* --------------------
3.12 Section - Fun Facts
----------------------- */

.fun-facts {
  background: url("~/images/home-v1-tab.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

  .fun-facts .layer {
    background-color: rgba(6, 178, 182, 0.8);
    padding: 102px 0px;
  }

    .fun-facts .layer .fun-facts-box i {
      color: #fff;
      font-size: 35px;
      display: block;
      margin-bottom: 35px;
    }

    .fun-facts .layer .fun-facts-box p {
      color: #fff;
      font-size: 18px;
    }

/*
 * --- Global Sections - Blog List ----
 */

/* -------------------------------------
3 Global Sections - Blog List
---------------------------------------- */

/* --------------------
3.13 Section - Blog List
----------------------- */

.blog-list {
  padding: 300px 0px;
}

  .blog-list .blog-list-details {
    margin-bottom: 100px;
  }

    .blog-list .blog-list-details .blog-list-description h4 {
      color: #505050;
    }

      .blog-list .blog-list-details .blog-list-description h4 a {
        color: #505050;
      }

        .blog-list .blog-list-details .blog-list-description h4 a:hover {
          color: #fff;
        }

    .blog-list .blog-list-details .blog-list-description h5 {
      color: #7d7d7d !important;
    }

    .blog-list .blog-list-details .blog-list-description span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 30px;
      display: inline-block;
    }

      .blog-list .blog-list-details .blog-list-description span a {
        color: #606060;
        margin-right: 10px;
      }

        .blog-list .blog-list-details .blog-list-description span a i {
          font-size: 15px;
          color: #505050;
          margin-right: 5px;
        }

        .blog-list .blog-list-details .blog-list-description span a:hover {
          color: #fff;
        }

          .blog-list .blog-list-details .blog-list-description span a:hover i {
            color: #fff;
          }

    .blog-list .blog-list-details .blog-list-description p {
      font-size: 15px;
      color: #606060;
    }

    .blog-list .blog-list-details .blog-list-description .btn {
      margin-top: 30px;
    }

  .blog-list .post-nav .customNextBtn {
    background: #404040;
    padding: 5px 15px 5px 15px;
  }

    .blog-list .post-nav .customNextBtn:hover, .blog-list .post-nav .customNextBtn.active {
      background: #fff;
      color: #fff;
    }

  .blog-list .post-nav .btn.btn-default {
    padding: 5px 15px 5px 15px;
  }

/*
 * --- Global Sections - Side Bar Widgets ----
 */

/* -------------------------------------
3 Global Sections - Side Bar Widgets
---------------------------------------- */

/* --------------------
3.14 Section - Side Bar Widgets
----------------------- */
.sidebar {
  position: relative;
  z-index: 0;
}
.sidebar h4 {
  margin-bottom: 34px;
  font-weight: 600;
  color: #505050;
}

.sidebar ul li {
  padding-bottom: 15px;
}

  .sidebar ul li a {
    font-size: 15px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
  }

    .sidebar ul li a i {
      font-size: 15px;
      vertical-align: middle;
      margin-right: 5px;
      color: #555555;
    }

    .sidebar ul li a:hover {
      color: #fff;
      margin-left: 10px;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
    }

      .sidebar ul li a:hover i {
        color: #fff;
      }

.sidebar .search-bar .input-group .form-control {
  border: 1px solid #bbbbbb;
  height: 45px;
}

  .sidebar .search-bar .input-group .form-control:focus {
    box-shadow: none;
    border: 1px solid #fff;
  }

  .sidebar .search-bar .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 15px;
  }

  .sidebar .search-bar .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 15px;
  }

  .sidebar .search-bar .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 15px;
  }

  .sidebar .search-bar .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #606060;
    font-size: 15px;
  }

.sidebar .search-bar .input-group .input-group-btn .btn-search {
  padding: 11px 15px;
  background: #fff;
}

  .sidebar .search-bar .input-group .input-group-btn .btn-search i {
    font-size: 18px;
  }

  .sidebar .search-bar .input-group .input-group-btn .btn-search:hover i {
    color: #fff;
  }

.sidebar .category-widget {
  margin-top: 5px;
  position: relative;
  z-index: -1;
}

.sidebar .recent-post-widget {
  margin-top: 35px;
  position: relative;
  z-index: -1;
}

  .sidebar .recent-post-widget .recent-post-list {
    padding-bottom: 25px;
  }

    .sidebar .recent-post-widget .recent-post-list figure {
      overflow: hidden;
    }

      .sidebar .recent-post-widget .recent-post-list figure img {
        margin-right: 10px;
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

    .sidebar .recent-post-widget .recent-post-list h5 {
      margin-bottom: 0px;
    }

      .sidebar .recent-post-widget .recent-post-list h5 a {
        font-weight: 500;
        color: #555555;
      }

    .sidebar .recent-post-widget .recent-post-list span a {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #606060 !important;
    }

    .sidebar .recent-post-widget .recent-post-list:hover a {
      color: #606060;
    }

    .sidebar .recent-post-widget .recent-post-list:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

.sidebar .archives-widget {
  margin-top: 42px;
  position: relative;
  z-index: -1;
}

.sidebar .tags-widget {
  margin-top: 38px;
  position: relative;
  z-index: -1;
}

  .sidebar .tags-widget a {
    margin-top: 5px;
  }

/*
 * --- Global Sections - Clients Logo ----
 */

/* -------------------------------------
3 Global Sections - Clients Logo
---------------------------------------- */

/* --------------------
3.15 Section - Clients Logo
----------------------- */

.clients-logo {
  padding: 110px 0px;
}

  .clients-logo .owl-dots {
    display: none;
  }

/*
 * --- Global Sections - Department Page Accordian ----
 */

/* -------------------------------------
3 Global Sections - Department Page Accordian
---------------------------------------- */

/* --------------------
3.16 Section - Department Page Accordian
----------------------- */

.department-accordian {
  padding-bottom: 5px;
}

  .department-accordian h3 {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
  }

  .department-accordian .appoinment-form {
    box-shadow: none;
    padding: 0px;
    bottom: 0;
  }

    .department-accordian .appoinment-form h3 {
      margin-left: 15px;
    }

    .department-accordian .appoinment-form .appoinment-form-fields {
      margin-top: 0px;
    }

  .department-accordian .faq-accordian .panel-group .panel-default {
    border: 0px;
    border-radius: 5px;
    margin-bottom: 23px;
    box-shadow: none;
  }

    .department-accordian .faq-accordian .panel-group .panel-default .panel-heading {
      padding: 10px 25px;
      border-radius: 5px;
      color: #404040;
      background-color: #dddddd;
      border-color: #dddddd;
      padding: 0px;
    }

      .department-accordian .faq-accordian .panel-group .panel-default .panel-heading.active {
        color: #fff;
        background-color: #fff;
        border-color: #fff;
      }

      .department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a {
        display: block;
        padding: 10px 25px;
      }

        .department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a:before {
          float: right !important;
          font-family: FontAwesome;
          content: "\f056";
          padding-right: 5px;
        }

        .department-accordian .faq-accordian .panel-group .panel-default .panel-heading .panel-title a.collapsed:before {
          content: "\f055";
        }

    .department-accordian .faq-accordian .panel-group .panel-default .panel-collapse .panel-body {
      padding: 10px 25px;
      border-top: 0px;
      background: none;
      padding-bottom: 0px;
    }

/*
 * --- Global Sections - Appoinment booking Form ----
 */

/* -------------------------------------
3 Global Sections - Book Appoinment Form
---------------------------------------- */

/* --------------------
3.17 Section - Book Appoinment Form
----------------------- */

.appoinment-form {
  background: #fff;
  padding: 53px 80px;
  padding-top: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

  .appoinment-form .appoinment-form-fields {
    margin-top: 33px;
    display: inline-block;
  }

    .appoinment-form .appoinment-form-fields .form-group .form-control {
      background: #dddddd;
      border: 1px solid #dddddd;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      padding-left: 12px;
    }

      .appoinment-form .appoinment-form-fields .form-group .form-control::before {
        content: "\eb25";
        font-family: icofont;
        font-style: normal;
        font-weight: normal;
      }

      .appoinment-form .appoinment-form-fields .form-group .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #404040;
      }

      .appoinment-form .appoinment-form-fields .form-group .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #404040;
      }

      .appoinment-form .appoinment-form-fields .form-group .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #404040;
      }

      .appoinment-form .appoinment-form-fields .form-group .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #404040;
      }

    .appoinment-form .appoinment-form-fields .form-group .btn {
      width: 100%;
      font-weight: 600;
    }

.datepicker.dropdown-menu {
  font-family: 'Roboto', sans-serif;
}

.datepicker table tr td.active.active {
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fff, #fff);
}

/*
 * --- Global Sections - Single Blog ----
 */

/* -------------------------------------
3 Global Sections - Single Blog 
---------------------------------------- */

/* --------------------
3.18 Section - Single Blog 
----------------------- */

.single-blog {
  padding: 10px 0px;
}

  .single-blog .blog-list-details {
    margin-bottom: 0px;
  }

    .single-blog .blog-list-details .blog-list-description h4 {
      margin-bottom: 20px;
      font-weight: 600;
      color: #505050;
    }

      .single-blog .blog-list-details .blog-list-description h4 a {
        color: #606060;
      }

        .single-blog .blog-list-details .blog-list-description h4 a:hover {
          color: #707070;
        }

    .single-blog .blog-list-details .blog-list-description h5 {
      color: #7d7d7d !important;
    }

      .single-blog .blog-list-details .blog-list-description h5 a {
        color: #7d7d7d;
      }

        .single-blog .blog-list-details .blog-list-description h5 a:hover {
          color: #606060;
        }

    .single-blog .blog-list-details .blog-list-description span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 30px;
      display: inline-block;
    }

      .single-blog .blog-list-details .blog-list-description span a {
        color: #606060;
        margin-right: 10px;
      }

        .single-blog .blog-list-details .blog-list-description span a i {
          font-size: 15px;
          color: #505050;
          margin-right: 5px;
        }

        .single-blog .blog-list-details .blog-list-description span a:hover {
          color: #606060;
        }

          .single-blog .blog-list-details .blog-list-description span a:hover i {
            color: #606060;
          }

    .single-blog .blog-list-details .blog-list-description p {
      font-size: 15px;
      color: #606060;
    }

    .single-blog .blog-list-details .blog-list-description .btn {
      margin-top: 30px;
    }

    .single-blog .blog-list-details .blog-list-description .single-blog-para {
      margin-bottom: 70px;
      /*z-index: -1;*/
      position: relative;
    }

      .single-blog .blog-list-details .blog-list-description .single-blog-para p {
        margin-bottom: 20px;
      }

    .single-blog .blog-list-details .blog-list-description .social-links {
      margin-bottom: 100px;
    }

      .single-blog .blog-list-details .blog-list-description .social-links a i {
        font-size: 45px;
        color: #606060;
        padding: 5px 7px;
        margin-right: 10px;
        border-radius: 5px;
      }

      .single-blog .blog-list-details .blog-list-description .social-links a:hover i {
        background: #ff0000;
        color: #606060;
      }

    .single-blog .blog-list-details .post-head {
      z-index: 999;
    }

      .single-blog .blog-list-details .post-head h3 {
        color: #fff;
      }

  .single-blog .comments {
    margin-bottom: 70px;
  }

    .single-blog .comments h4 {
      margin-bottom: 20px;
      font-weight: 600;
      color: #505050;
    }

    .single-blog .comments ul li img {
      float: left;
      margin-right: 20px;
      border-radius: 5px;
    }

    .single-blog .comments ul li .comments-details {
      padding-bottom: 30px;
    }

      .single-blog .comments ul li .comments-details h4 {
        font-weight: 400;
        color: #404040;
        margin-bottom: 10px;
      }

        .single-blog .comments ul li .comments-details h4 span {
          font-size: 14px;
          color: #606060;
          margin-left: 20px;
        }

      .single-blog .comments ul li .comments-details p {
        color: #606060;
        margin-bottom: 10px;
      }

      .single-blog .comments ul li .comments-details a {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #606060;
      }

        .single-blog .comments ul li .comments-details a:hover {
          color: #fff;
        }

    .single-blog .comments ul li ul {
      padding-left: 40px;
    }

  .single-blog .replay-form h4 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #505050;
  }

  .single-blog .replay-form .replay-form-fields .form-group .form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }

  .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
    min-height: 133px;
  }

/*
 * --- Global Sections - Map ----
 */

/* -------------------------------------
3 Global Sections - Map 
---------------------------------------- */

/* --------------------
3.19 Section - Map 
----------------------- */

.map {
  padding-top: 0px;
}

/*
 * --- Global Sections - Contact Page Form ----
 */

/* -------------------------------------
3 Global Sections - Conatct Page Form 
---------------------------------------- */

/* --------------------
3.20 Section - Conatct Page Form 
----------------------- */

.contact-page-form {
  padding-bottom: 54px;
}

  .contact-page-form .appoinment-form {
    bottom: 52px;
    display: inline-block;
    padding: 0px;
    position: relative;
    margin-top: 0px;
  }

    .contact-page-form .appoinment-form .contact-form-fields {
      padding: 57px 40px;
      padding-bottom: 27px;
      padding-right: 20px;
      display: inline-block;
    }

      .contact-page-form .appoinment-form .contact-form-fields .form-group .form-control.message-area {
        max-width: 676px;
        min-height: 140px;
      }

      .contact-page-form .appoinment-form .contact-form-fields .form-group.textarea-formgroup {
        min-height: 162px;
      }

    .contact-page-form .appoinment-form .address-details {
      padding: 57px 20px;
      padding-right: 60px;
    }

      .contact-page-form .appoinment-form .address-details ul li {
        padding-bottom: 50px;
      }

        .contact-page-form .appoinment-form .address-details ul li span {
          font-size: 16px;
          color: #606060;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 300;
        }

          .contact-page-form .appoinment-form .address-details ul li span a {
            color: #505050;
          }

            .contact-page-form .appoinment-form .address-details ul li span a:hover {
              color: #606060;
            }

        .contact-page-form .appoinment-form .address-details ul li i {
          font-size: 25px;
          color: #505050;
          margin-right: 20px;
          vertical-align: middle;
          float: left;
        }

/*
 * --- Global Sections - Commen Form Group ----
 */

/* --------------------
3.23 Section - Footer
----------------------- */

.footer {
  background: #505050;
}

  .footer .footer-widget {
    padding: 25px 0px;
  }

    .footer .footer-widget h4 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      color: #fff;
      margin-bottom: 38px;
    }

    .footer .footer-widget .footer-about p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #ddd;
      margin: 0px;
      padding-bottom: 40px;
    }

    .footer .footer-widget .footer-about ul li {
      color: #ddd;
      padding-bottom: 15px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      font-size: 14px;
    }

      .footer .footer-widget .footer-about ul li i {
        color: #ddd;
        margin-right: 20px;
        font-size: 18px;
        vertical-align: middle;
      }

      .footer .footer-widget .footer-about ul li a {
        color: #ddd;
      }

        .footer .footer-widget .footer-about ul li a:hover {
          color: #fff;
        }

    .footer .footer-widget .footer-nav-list ul li {
      padding-bottom: 15px;
    }

      .footer .footer-widget .footer-nav-list ul li a {
        color: #ddd;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
      }

        .footer .footer-widget .footer-nav-list ul li a i {
          font-size: 18px;
          color: #ddd;
          margin-right: 10px;
          vertical-align: middle;
        }

        .footer .footer-widget .footer-nav-list ul li a:hover {
          color: #fff;
        }

          .footer .footer-widget .footer-nav-list ul li a:hover i {
            color: #fff;
          }

    .footer .footer-widget .insta-widget figure {
      overflow: hidden;
      float: left;
    }

      .footer .footer-widget .insta-widget figure a img {
        margin-bottom: 20px;
        margin-right: 20px;
      }

  .footer .copyright-container {
    background: #404040;
  }

    .footer .copyright-container p {
      color: #dddddd;
      padding: 29px 0px;
    }

      .footer .copyright-container p i {
        font-size: 12px;
      }

/*
 * --- Pages - About Page ----
 */

/* -------------------------------------
7 Blog Gird  Page 
---------------------------------------- */

/* --------------------
7.1 Section - recent Post 
----------------------- */

.blog-gird-page .recent-post {
  padding-bottom: 110px;
  background: #fff;
}

  .blog-gird-page .recent-post .top-text {
    display: none;
  }

  .blog-gird-page .recent-post .normal-post .item {
    margin-bottom: 60px;
  }

  .blog-gird-page .recent-post .btn-default {
    display: inline-block;
  }

/*
 * --- Mediaquery ----
 */

/*-------------------------------------------------------------------------------
 8. Mediaquery
-------------------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1600px) {
  .search-home {
    top: 290px;
  }

    .search-home .search-home-form {
      width: 80%;
    }
}

@media (min-width: 100px) and (max-width: 991px) {
  .search-home {
    position: relative;
    width: 100%;
  }

    .search-home .search-home-form {
      width: 100%;
      padding: 10px;
    }

      .search-home .search-home-form h3 {
        font-size: 18px;
      }
}

@media (min-width: 768px) and (max-width: 1216px) {
  .search-home {
    width: 100%;
  }

    .search-home .search-home-form {
      padding: 10px;
      width: 100%;
    }

      .search-home .search-home-form h3 {
        font-size: 18px;
      }

  .navbar-full {
    display: none;
  }

  .header .top-container .top-menu .social-links a i {
    margin-right: 0px;
  }

  .home-page-banner .image-caption {
    padding-top: 70px;
  }

    .home-page-banner .image-caption .search-form {
      margin-top: 70px;
    }

  .appoinment .appoinment-form {
    padding: 25px 40px;
    margin-top: 0px;
  }

  .about .about-premedi {
    padding: 20px 0px 0px;
  }

    .about .about-premedi .premedi-story {
      margin-top: 10px;
    }

  .fun-facts .layer {
    padding: 39px 0px;
  }

  .parents-feedback .layer {
    padding: 40px 0px;
  }

    .parents-feedback .layer .top-text {
      margin-bottom: 17px;
    }

  .our-department .horizantal-tab.nav-pills li {
    margin-right: 15px;
    min-width: 130px;
  }

    .our-department .horizantal-tab.nav-pills li a.active {
      left: 63px;
    }

    .our-department .horizantal-tab.nav-pills li:hover a:before {
      left: 63px;
    }

  .recent-post .normal-post .item .post-area .post-details {
    padding: 26px 20px 27px 20px;
  }

    .recent-post .normal-post .item .post-area .post-details .post-head a {
      font-size: 12px;
    }

    .recent-post .normal-post .item .post-area .post-details .post-meta {
      margin-bottom: 0px;
    }

    .recent-post .normal-post .item .post-area .post-details p {
      margin-bottom: 8px;
    }

  .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
    padding: 10px 2px;
  }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-head a {
      font-size: 12px;
    }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details .post-meta {
      margin-bottom: 0px;
    }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details p {
      margin-bottom: 8px;
    }

  .our-services {
    padding-bottom: 7px;
  }

    .our-services .services-box {
      padding: 23px 20px 31px 20px;
      min-height: 280px;
    }

      .our-services .services-box h4 {
        font-size: 13px;
      }

  .our-specialist {
    padding-top: 0px;
  }

  .contact-page-form {
    padding-bottom: 145px;
  }

    .contact-page-form .appoinment-form {
      bottom: -40px;
    }

  .single-blog {
    padding: 50px 0px;
  }

    .single-blog .replay-form .replay-form-fields .form-group {
      margin-bottom: 0px;
    }

      .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
        min-height: 123px;
      }

  .about-page .parents-feedback .layer {
    padding: 40px 0px;
  }

    .about-page .parents-feedback .layer .top-text {
      margin-bottom: 17px;
    }

  .about-page .our-specialist {
    padding-top: 100px;
  }

  .parents-feedback .layer {
    padding: 40px 0px 80px;
  }

    .parents-feedback .layer .normal-feedback .item img {
      left: 130px;
    }

  .home-v2 .home-page-banner .image-caption {
    padding-top: 100px;
    padding-bottom: 0px;
  }

  .home-v2 .home-page-banner .appoinment-form {
    bottom: -120px;
  }

  .home-v2 .our-specialist {
    padding-top: 100px;
  }

  .home-v2 .our-department {
    padding-top: 334px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .loader .preview {
    height: 640px;
  }

  .navbar-full {
    display: none;
  }

  .footer .footer-widget .footer-nav-list ul {
    margin-bottom: 0px;
  }

  .home-page-banner .image-caption {
    padding-top: 60px;
  }

    .home-page-banner .image-caption h1 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 20px;
    }

    .home-page-banner .image-caption .search-form {
      margin-top: 45px;
      min-width: 700px;
    }

  .top-text {
    margin-bottom: 20px;
  }

  .our-department {
    padding: 55px 0px;
  }

    .our-department .nav.nav-pills li a {
      text-align: center;
    }

      .our-department .nav.nav-pills li a i {
        margin-right: 0px;
        margin-bottom: 10px;
        display: block;
      }

    .our-department .horizantal-tab.nav-pills {
      margin-bottom: 40px;
    }

      .our-department .horizantal-tab.nav-pills li {
        margin-right: 13px;
        min-width: 108px;
      }

        .our-department .horizantal-tab.nav-pills li a {
          font-size: 13px;
          padding: 27px 15px;
        }

          .our-department .horizantal-tab.nav-pills li a:hover::before {
            top: 80px;
            left: 47px;
          }

        .our-department .horizantal-tab.nav-pills li.active a::before {
          top: 80px;
          left: 46px;
        }

  .appoinment {
    padding: 290px 0px 20px;
  }

    .appoinment .appoinment-form {
      padding: 15px 40px;
      padding-top: 35px;
      margin-top: 0px;
    }

  .our-specialist {
    padding: 50px 0px;
  }

  .blog-list {
    padding: 50px 0px;
  }

    .blog-list .post-nav {
      padding-top: 0px;
    }

  .sidebar {
    padding-top: 50px;
  }

  .recent-post {
    padding-bottom: 50px;
    padding-top: 50px;
  }

    .recent-post .normal-post .item .post-area .image-holder {
      width: 100%;
    }

      .recent-post .normal-post .item .post-area .image-holder img {
        width: 100%;
      }

    .recent-post .normal-post .item .post-area .post-details {
      padding: 10px 2px;
    }

      .recent-post .normal-post .item .post-area .post-details span {
        margin-bottom: 3px;
      }

        .recent-post .normal-post .item .post-area .post-details span .comments {
          margin-bottom: 0px;
        }

      .recent-post .normal-post .item .post-area .post-details .post-head a {
        font-size: 17px;
      }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
      width: 100%;
    }

      .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
        width: 100%;
      }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .post-details {
      padding: 23px 20px 23px 20px;
    }

  .our-services {
    padding: 55px 0px 0px;
  }

    .our-services .services-box {
      padding: 23px 20px 31px 20px;
      min-height: 280px;
    }

      .our-services .services-box h4 {
        font-size: 14px;
      }

  .department-accordian h3 {
    margin-bottom: 30px;
  }

  .department-accordian .faq-accordian {
    margin-bottom: 50px;
  }

  .about {
    padding-top: 55px;
  }

    .about .about-premedi-response {
      padding-top: 200px;
    }

      .about .about-premedi-response h4 {
        margin-left: 16px;
      }

      .about .about-premedi-response ul li {
        border-bottom: 1px dashed #dddddd;
        padding-bottom: 40px;
        padding-top: 15px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
      }

    .about .about-premedi {
      padding: 28px 0px 50px;
    }

      .about .about-premedi .premedi-story {
        margin-top: 15px;
      }

  .fun-facts {
    background-size: 100% 100%;
  }

    .fun-facts .layer {
      padding: 30px 0px;
    }

  .parents-feedback .layer .normal-feedback .item span {
    margin-bottom: 40px;
  }

  .parents-feedback .layer .normal-feedback .item img {
    left: 340px;
  }

  .form-group .form-control.message-area {
    max-width: 725px;
  }

  .map {
    padding-top: 50px;
  }

  .contact-page-form {
    padding-bottom: 95px;
  }

    .contact-page-form .appoinment-form {
      bottom: -40px;
    }

      .contact-page-form .appoinment-form .contact-form-fields {
        padding: 50px 0px;
      }

        .contact-page-form .appoinment-form .contact-form-fields .no-r-padding {
          padding-left: 0px;
          padding-right: 15px;
        }

        .contact-page-form .appoinment-form .contact-form-fields .responsive-padding {
          padding-left: 0px;
        }

        .contact-page-form .appoinment-form .contact-form-fields .form-group {
          margin-bottom: 0px;
        }

          .contact-page-form .appoinment-form .contact-form-fields .form-group.textarea-formgroup {
            min-height: 123px;
          }

      .contact-page-form .appoinment-form .address-details {
        padding-right: 20px;
      }

  .cta {
    padding: 50px 0px;
  }

  .clients-logo {
    padding: 50px 0px;
  }

  .single-blog {
    padding: 50px 0px;
  }

    .single-blog .replay-form .replay-form-fields .form-group {
      margin-bottom: 0px;
    }

      .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
        min-height: 123px;
      }

  .home-v2 .home-page-banner .image-caption {
    padding-top: 60px;
    padding-bottom: 0px;
  }

    .home-v2 .home-page-banner .image-caption .appoinment-form {
      bottom: 30px;
      position: relative;
      margin-top: 100px;
      padding: 15px 40px;
      padding-top: 15px;
    }

  .home-v2 .parents-feedback .layer {
    padding: 50px 0px 20px;
  }

    .home-v2 .parents-feedback .layer .normal-feedback .item {
      margin-bottom: 80px;
    }

  .home-v2 .our-department {
    padding-top: 194px;
  }

    .home-v2 .our-department .tab-content .tab-image {
      overflow: hidden;
    }

      .home-v2 .our-department .tab-content .tab-image img {
        margin-top: 80px;
      }

  .home-v2 .our-services {
    padding: 55px 0px 0px;
  }

  .home-v2 .our-specialist {
    padding: 55px 0px;
  }

  .home-v2 .recent-post {
    padding-bottom: 50px;
  }

  .about-page .parents-feedback {
    background-size: 100% 100%;
  }

    .about-page .parents-feedback .layer {
      padding-bottom: 50px;
    }

      .about-page .parents-feedback .layer .top-text {
        margin-bottom: 20px;
      }

  .about-page .our-specialist {
    padding-top: 50px;
    padding-bottom: 50px;
  }

    .about-page .our-specialist .top-text {
      margin-bottom: 20px;
    }

  .department-page .department-accordian .appoinment-form {
    padding-left: 15px;
  }

    .department-page .department-accordian .appoinment-form h3 {
      margin-left: 0px;
    }

  .department-page .our-department {
    padding: 55px 0px;
  }

    .department-page .our-department .tab-content .tab-image {
      overflow: hidden;
    }

      .department-page .our-department .tab-content .tab-image img {
        margin-top: 80px;
      }

  .department-page .department-accordian {
    padding-bottom: 30px;
  }

  .sevices-page .our-services {
    padding: 55px 0px 0px;
  }

  .blog-gird-page .recent-post {
    padding-bottom: 50px;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .loader .preview {
    height: 640px;
  }

  .header .top-container .top-menu .social-links {
    text-align: center;
  }

  .header .top-container .top-menu .call-now span {
    display: inline-block;
  }

  .header .top-container .top-menu .book-appoinment {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-full {
    display: none;
  }

  .fact-counter-area {
    display: none;
  }

  .home-page-banner .image-caption {
    padding-top: 70px;
  }

    .home-page-banner .image-caption h1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .home-page-banner .image-caption .search-form {
      display: none;
    }

  .appoinment {
    padding: 170px 0px 20px;
  }

    .appoinment .appoinment-form {
      padding: 35px 20px;
      margin-top: 0px;
    }

      .appoinment .appoinment-form .no-r-padding {
        padding-left: 0px;
        padding-right: 0px;
      }

      .appoinment .appoinment-form .no-l-padding {
        padding-left: 0px;
        padding-right: 0px;
      }

  .our-department {
    padding: 50px 0px;
  }

    .our-department .nav.nav-pills {
      padding-left: 15px;
      padding-bottom: 20px;
    }

      .our-department .nav.nav-pills li a {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        text-align: center;
      }

        .our-department .nav.nav-pills li a i {
          margin-right: 0px;
          margin-bottom: 10px;
          display: block;
        }

      .our-department .nav.nav-pills li:before, .our-department .nav.nav-pills li:after {
        display: none;
      }

    .our-department .horizantal-tab.nav-pills {
      margin-bottom: 0px;
    }

      .our-department .horizantal-tab.nav-pills li {
        margin-bottom: 20px;
        min-width: 320px;
        margin-right: 0px;
      }

        .our-department .horizantal-tab.nav-pills li a i {
          margin-right: 10px;
          margin-bottom: 0px;
          display: inline-block;
          vertical-align: middle;
        }

        .our-department .horizantal-tab.nav-pills li.active a::before, .our-department .horizantal-tab.nav-pills li:hover a::before {
          top: 42px;
          left: 155px;
        }

    .our-department .tab-content {
      padding-left: 15px;
      padding-right: 15px;
    }

      .our-department .tab-content img {
        margin-top: 20px;
      }

  .divider span::before {
    width: 100px;
    left: -55px;
  }

  .divider span::after {
    width: 100px;
    right: -55px;
  }


  .about {
    padding: 50px 0px 50px;
  }

    .about .about-premedi {
      padding: 0px 0px 50px;
    }

      .about .about-premedi .premedi-story {
        margin-top: 0px;
      }

      .about .about-premedi .table-responsive {
        border: 0px;
      }

  .fun-facts {
    background: none;
  }

    .fun-facts .layer {
      padding: 50px 0px 20px;
    }

      .fun-facts .layer .fun-facts-box {
        margin-bottom: 30px;
      }

  .our-specialist {
    padding: 50px 0px;
  }

    .our-specialist .top-text {
      margin-bottom: 20px;
    }

  .blog-list {
    padding: 50px 0px;
  }

    .blog-list .blog-list-details {
      margin-bottom: 50px;
    }

    .blog-list .post-nav {
      padding-top: 0px;
    }

      .blog-list .post-nav a {
        margin-bottom: 20px;
      }

      .blog-list .post-nav .btn-default {
        padding: 5px 9px 5px 9px;
      }

  .top-text {
    margin-bottom: 20px;
  }

  .sidebar {
    padding-top: 50px;
  }

  .recent-post {
    padding-bottom: 20px;
    padding-top: 50px;
  }

    .recent-post .normal-post .item .post-area .image-holder {
      width: 100%;
    }

      .recent-post .normal-post .item .post-area .image-holder img {
        width: 100%;
      }

    .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder {
      width: 100%;
    }

      .recent-post .recent-post-carousel.owl-theme .item .post-area .image-holder img {
        width: 100%;
      }

  .our-services {
    padding: 50px 0px 0px;
  }

    .our-services .services-box {
      padding: 43px 43px 43px 43px;
      margin-bottom: 30px;
    }

  .cta .cta-text h3 {
    line-height: 30px;
  }

  .single-blog {
    padding: 50px 0px;
  }

    .single-blog .comments ul li img {
      margin-bottom: 20px;
    }

    .single-blog .replay-form {
      display: inline-block;
    }

      .single-blog .replay-form .replay-form-fields .form-group {
        margin-bottom: 0px;
      }

        .single-blog .replay-form .replay-form-fields .form-group.textarea-formgroup {
          min-height: 123px;
        }

  .map {
    padding-top: 50px;
  }

  .contact-page-form {
    padding-bottom: 95px;
  }

    .contact-page-form .appoinment-form {
      bottom: -40px;
    }

      .contact-page-form .appoinment-form .contact-form-fields {
        padding: 40px 0px;
        padding-bottom: 20px;
      }

        .contact-page-form .appoinment-form .contact-form-fields .no-l-padding {
          padding-left: 15px;
        }

        .contact-page-form .appoinment-form .contact-form-fields .form-group .btn-default {
          margin-left: 15px;
        }

      .contact-page-form .appoinment-form .address-details {
        padding: 0px 15px;
        padding-right: 0px;
      }

        .contact-page-form .appoinment-form .address-details ul li:last-child {
          padding-bottom: 20px;
        }

  .clients-logo {
    padding: 50px 0px;
  }

  .department-accordian {
    padding-bottom: 30px;
  }

    .department-accordian h3 {
      margin-bottom: 20px;
    }

    .department-accordian .faq-accordian {
      margin-bottom: 0px;
    }

    .department-accordian .appoinment-form {
      padding: 15px 15px;
      padding-top: 25px;
    }

      .department-accordian .appoinment-form .appoinment-form-fields .no-r-padding {
        padding-left: 0px;
        padding-right: 15px;
      }

  .footer .footer-widget {
    padding: 50px 0px 30px;
  }

    .footer .footer-widget .footer-nav-list ul {
      margin-bottom: 0px;
    }

  .about-page .parents-feedback {
    background: none;
  }

    .about-page .parents-feedback .layer {
      padding: 50px 0px;
    }

      .about-page .parents-feedback .layer .top-text {
        margin-bottom: 20px;
      }

      .about-page .parents-feedback .layer .about-feedback-carousel.owl-theme .owl-dots {
        margin-top: 15px;
      }

  .about-page .our-specialist {
    padding-top: 50px;
    padding-bottom: 50px;
  }

    .about-page .our-specialist .top-text {
      margin-bottom: 20px;
    }

  .home-v2 .home-page-banner .image-caption {
    padding-top: 50px;
  }

    .home-v2 .home-page-banner .image-caption h1 {
      font-size: 20px;
      line-height: 20px;
    }

    .home-v2 .home-page-banner .image-caption p {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .home-v2 .home-page-banner .image-caption .appoinment-form {
      margin-top: 80px;
      margin-bottom: 60px;
      padding: 35px 40px;
      bottom: 0;
    }

      .home-v2 .home-page-banner .image-caption .appoinment-form .appoinment-form-fields .no-l-padding {
        padding-left: 15px;
      }

      .home-v2 .home-page-banner .image-caption .appoinment-form h2 {
        font-size: 22px;
      }

  .home-v2 .parents-feedback .layer {
    padding: 50px 0px 20px;
  }

    .home-v2 .parents-feedback .layer .top-text {
      margin-bottom: 20px;
    }

    .home-v2 .parents-feedback .layer .normal-feedback .item {
      margin-bottom: 70px;
    }

      .home-v2 .parents-feedback .layer .normal-feedback .item img {
        left: 140px;
      }

  .home-v2 .our-department .tab-content .tab-image {
    overflow: hidden;
  }

    .home-v2 .our-department .tab-content .tab-image img {
      margin-top: 40px;
    }

  .home-v2 .our-services {
    padding: 50px 0px 30px;
  }

  .home-v2 .our-specialist {
    padding: 55px 0px;
  }

  .home-v2 .recent-post {
    padding-bottom: 50px;
  }

  .department-page .our-department {
    padding-top: 50px;
    padding-bottom: 50px;
  }

    .department-page .our-department .tab-content .tab-image {
      overflow: hidden;
    }

      .department-page .our-department .tab-content .tab-image img {
        margin-top: 50px;
      }

  .sevices-page .our-services {
    padding: 55px 0px 0px;
  }

  .blog-gird-page .recent-post {
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */




/*===============================
         Scroll Top
===============================*/

#scroll-Top .return-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  width: 40px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  z-index: 15;
  color: #fff;
  background: #00d8ff;
  border: 1px solid #00d8ff;
  border-radius: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 2;
}

  #scroll-Top .return-to-top:hover {
    background: #2cdbb5;
    color: #fff;
    border-radius: 50%;
  }
