﻿<template>
  <section id="footer" class="footer">
    <div class="footer-widget">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-responsive-media">
            <img :src="settings.footerBarLogo" :alt="settings.siteName" class="img-responsive" />
            <div class="clearfix">&nbsp;</div>
            <div class="footer-about">
              <ul>
                <li>
                  <address><i class="fa fa-map-marker" aria-hidden="true"></i> {{ settings.address }}</address>
                </li>
                <li>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <a :href="`mailto:${settings.email}`">{{ settings.email }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-responsive-media">
            <h4 class="icon-head">DESTINATIONS</h4>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-12">
                <div class="footer-nav-list">
                  <ul>
                    <li><a href="/destination-turkey">TURKEY</a></li>
                    <li><a href="/destination-greece">GREECE</a></li>
                    <li><a href="/destination-croatia">CROATIA</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-responsive-media">
            <h4 class="icon-head">ROUTES</h4>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-12">
                <div class="footer-nav-list">
                  <ul>
                    <li><a href="/route-turkey">TURKEY</a></li>
                    <li><a href="/route-greece">GREECE</a></li>
                    <li><a href="/route-croatia">CROATIA</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10 text-center">
            <p class="copyrights">
              Copyright
              <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }}. Tüm Hakları Saklıdır.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="scroll-Top">
      <i
        class="fa fa-angle-double-up return-to-top"
        id="scroll-top"
        data-toggle="tooltip"
        data-placement="top"
        title=""
        data-original-title="Back to Top"
        aria-hidden="true"
      ></i>
    </div>
  </section>
</template>
<script>
  import { mapState, mapActions, mapGetters } from 'vuex';

  export default {
    data() {
      return {
        window: {
          width: 0,
          height: 0,
        },
      };
    },
    computed: {
      ...mapState({
        settings: (state) => state.settings.model,
      }),
      year: () => {
        const date = new Date();
        return date.getFullYear();
      },
    },
    created() {
      this.$store.dispatch('settings/get');
      window.addEventListener('resize', this.handleResize);
      this.handleResize();
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      },
    },
  };
</script>
