﻿<template>
  <div class="content">
    <div class="col-xs-3">
      {{card.name}}
    </div>
    <div class="col-xs-7">
      <img :src="card.imageThumbUrl" width="85" />
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-sm btn-success" @click.prevent="selectCard">
        <i class="ti-pencil"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      card: {
        type: Object,
        required: true
      }
    },
    methods: {
      selectCard() {
        this.isSelected = true;
        this.$emit("onCardSelected", this.card);
      }
    }
  };
</script>
<style>
</style>
