﻿<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Blog Düzenle / Ekle</h4>
    </div>
    <div class="content">
      <form v-if="item">
        <div class="form-group">
          <fg-input
            type="text"
            label="Başlık"
            placeholder="Blog Başlığı"
            v-model="item.title"
          ></fg-input>
        </div>
        <div class="form-group">
          <label>Html İçerik</label>
          <vue-editor v-model="item.htmlContent"></vue-editor>
        </div>
        <div class="form-group">
          <date-picker
            v-model="item.createDate"
            :lang="lang"
            :first-day-of-week="1"
            format="DD.MM.YYYY"
          ></date-picker>
        </div>
        <div class="clearfix"></div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-info btn-fill btn-wd"
            @click.prevent="onItemChanged"
          >
            Kaydet
          </button>
          <button
            type="button"
            class="btn btn-danger btn-fill btn-wd"
            v-if="!isNew"
            v-confirm="{
              loader: true,
              ok: (dialog) => onItemDelete(dialog),
              message: 'Silmek istediğinizden emin misiniz?',
            }"
          >
            Sil
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    VueEditor,
  },
  props: {
    item: { type: Object },
    isNew: false,
    errors: [],
  },
  data() {
    return {
      lang: {
        days: ["Paz", "Pzt", "Sal", "Çar", "Per", "Cum", "Cmt"],
        months: [
          "Oca",
          "Şub",
          "Mar",
          "Nis",
          "May",
          "Haz",
          "Tem",
          "Ağu",
          "Eyl",
          "Eki",
          "Kas",
          "Ara",
        ],
        pickers: ["7 gün ileri", "30 gün ileri", "7 gün geri", "30 gün geri"],
        placeholder: {
          date: "Tarih Seçiniz",
        },
      },
    };
  },
  methods: {
    onItemChanged() {
      this.$emit("onItemChanged", this.item);
    },
    onItemDelete(dialog) {
      this.$emit("onItemDelete", this.item.id);
      dialog.close();
    },
  },
};
</script>
