﻿<template>
  <div class="row">
    <div class="col-xs-8">
      <i class="ti-home text-success" v-if="card.homePageSlider"></i>
      {{card.title}}
    </div>
    <div class="col-xs-2">
      {{card.createDate | formatDate}}
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-sm btn-success" @click.prevent="selectCard">
        <i class="ti-pencil"></i>
      </button>
      <button class="btn btn-sm btn-default" @click.prevent="openBlogGallery" title="Blog Galerisi">
        <i class="ti-brush-alt"></i>
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      card: {
        type: Object,
        required: true
      }
    },
    methods: {
      selectCard() {
        this.isSelected = true;
        if (!this.card.htmlContent) {
          this.card.htmlContent = '';
        }

        this.$emit("onCardSelected", this.card);
      },
      openBlogGallery() {
        this.isSelected = true;
        this.$emit("openBlogGallery", this.card);
      }
    }
  };
</script>
<style>
</style>
