﻿
<template>
  <section id="site-wrapper" class="mm-page">
    <page-header></page-header>
    <page-home></page-home>
    <page-footer></page-footer>
  </section>

</template>

<script>
  import Vue from 'vue';
  import VuejsDialog from "vuejs-dialog";
  import Multiselect from 'vue-multiselect';
  import DatePicker from 'vue2-datepicker';
  import { VueEditor, Quill  } from "vue2-editor";

  import { mapGetters, mapState, mapActions } from "vuex";



  import Header from './Components/Header/Header.vue';
  import Home from './Components/Pages/Home.vue';
  import Footer from './Components/Footer/Footer.vue';


  Vue.component('page-header', Header);
  Vue.component('page-home', Home);
  Vue.component('page-footer', Footer);

  Vue.component('multiselect', Multiselect);
  Vue.component('html-editor', VueEditor);

  Vue.use(VuejsDialog, {
    html: true,
    loader: true,
    okText: 'Ok',
    cancelText: 'Cancel',
    animation: 'bounce',
  });

  Vue.component('date-picker', DatePicker);

  export default {
    created() {
      this.$store.dispatch("settings/get");
    },
    mounted() {
    },
    updated() {
    }
  };
</script>
