﻿<template>
  <div class="row">
    <div class="col-md-12" v-if="!selected">
      <div class="card">
        <div class="content">
          <vue-good-table :columns="columns" :rows="appointments"
                          :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                          :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actions'">
                <uiv-btn size="sm" type="info" @click="onCardSelected(props.row)" v-uiv-tooltip="'Detay'">
                  <i class="ti-eye"></i>
                </uiv-btn>
                <uiv-btn size="sm" type="success" v-confirm="{loader:true, ok: dialog => onItemApprove(dialog,props.row), message: 'Yanıtlandı durumunu değiştirmek istediğinizden emin misiniz?'}" v-uiv-tooltip="'Cevaplandı Olarak İşaretle'">
                  <i class="ti-thumb-up" v-if="!props.row.approved"></i>
                  <i class="ti-thumb-down" v-else></i>
                </uiv-btn>

                <uiv-btn size="sm" type="danger" v-confirm="{loader:true, ok: dialog => onItemDelete(dialog,props.row.id), message: 'Silmek istediğinizden emin misiniz?'}" v-uiv-tooltip="'Sil'">
                  <i class="ti-trash"></i>
                </uiv-btn>

              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
    <div class="row" v-if="selected">
      <div class="col-md-12">
        <div class="card">
          <div class="header"><h3>Rezervasyon Detay</h3><hr /></div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Tekne</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.yachtName}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Ad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Soyad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.surname}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Şehir</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.city}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Eyalet</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.state}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Telefon</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.phone}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">E-Posta</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.email}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Biniş Tarihi</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.embarkationDate | formatDate}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">İniş Tarihi</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.disembarkationDate |formatDate}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Yolcu Sayısı</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.numberOfGuests}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Mesaj</label>
            <div class="col-sm-10">
              <p class="form-control-static" v-html="selected.notes"></p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Açıklama</label>
            <div class="col-sm-10">
              <fg-input v-model="selected.explanation"></fg-input>
              <span class="help-text">Müşteri görüşmesi sonrası alınan notlar</span>
            </div>
          </div>


          <div class="form-group col-lg-12">
            <button class="btn btn-success" @click="onItemSave(selected)">Kaydet &amp; Cevaplandı Olarak İşaretle</button>
            <button class="btn btn-primary" @click="onFormClose">Geri Dön</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: mapState({
      appointments: state => state.appointment.all,
      selected: state => state.appointment.selected,
      isNew: state => state.appointment.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("appointment/getAll");
    },
    data() {
      return {
        columns: [
          {
            label: 'Tekne',
            field: 'yachtName',
          },
          {
            label: 'Adı',
            field: 'name',
          },
          {
            label: 'Soyadı',
            field: 'surname',
          },

          {
            label: 'Telefon',
            field: 'phone',
          },
          {
            label: 'E-Posta',
            field: 'email',
          },
          {
            label: 'Biniş Tarihi',
            field: 'embarkationDate',
            formatFn: this.formatDate
          },
          {
            label: 'İniş Tarihi',
            field: 'disembarkationDate',
            formatFn: this.formatDate
          },
          {
            label: 'Yolcu sayısı',
            field: 'numberOfGuests',
          },

          {
            label: 'Açıklama',
            field: 'explanation',
          },

          {
            label: 'Oluşturma Tarihi',
            field: 'createdDate',
            formatFn: this.formatDateTime
          },
          {
            label: 'Cevaplandı',
            field: 'answered'
          },
          {
            field: 'actions'
          }
        ]
      };
    },
    methods: {
      ...mapActions("appointment", ["onSave", "onNew", "onDelete", "onCardSelected", "onClearSelected"]),
      onFormClose() {
        this.$store.state.appointment.selected = null;
        this.$store.dispatch("appointment/getAll");
      },
      formatDateTime(value) {
        return this.$options.filters.formatDateTime(value);
      },
      formatDate(value) {
        return this.$options.filters.formatDate(value);
      },
      onItemDelete(dialog, id) {
        this.onDelete(id);
        dialog.close();
      },
      onItemApprove(dialog, payload) {
        payload.answered = !payload.answered;
        this.onSave(payload);
        dialog.close();
      },
      onItemSave(payload) {
        payload.answered = true;
        this.onSave(payload);
        dialog.close();
      }
    }
  };
</script>
