﻿<template>
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <div class="card">
        <div class="header">
          <div class="col-md-2">
            <button type="button" class="btn btn-info btn-fill" @click.prevent="onNew">
              <i class="ti-plus"></i> Yeni
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li v-for="blog in blogs" :key="blog.Id">
              <blog-card :card=blog @onCardSelected="onCardSelected" @openBlogGallery="openBlogGallery"></blog-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6">
      <blog-form :item.sync="selected"
                 :isNew.sync="isNew"
                 @onItemChanged="onSave"
                 @onItemDelete="onDelete"
                 v-if="!galleryOpened"></blog-form>

      <blog-gallery :blog="selected" v-if="galleryOpened" @onGalleryClose="onGalleryClose"></blog-gallery>
    </div>
  </div>
</template>
<script>
  import BlogForm from "./Blog/BlogForm.vue";
  import BlogCard from "./Blog/BlogCard.vue";
  import BlogGallery from "./Blog/BlogGallery.vue";
  import { mapState, mapActions } from "vuex";

  export default {
    components: {
      BlogForm,
      BlogCard,
      BlogGallery
    },
    computed: mapState({
      blogs: state => state.blogs.all,
      selected: state => state.blogs.selected,
      isNew: state => state.blogs.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("blogs/getAll");
    },
    data() {
      return {
        galleryOpened: false,
        filter_BlogDisplayTypes: null
      };
    },
    watch: {
      filter_BlogDisplayTypes() {
        this.$store.dispatch("blogs/getAll");
      }
    },
    methods: {
      ...mapActions("blogs", ["onSave", "onNew", "onDelete", "onCardSelected"]),
      openBlogGallery(blog) {
        this.$store.dispatch("blogs/onCardSelected", blog);
        this.$store.dispatch("bloggallery/getAll", blog.id);
        this.galleryOpened = true;
      },
      onGalleryClose() {
        this.galleryOpened = false;
      }
    }
  };
</script>
