﻿<template>
  <div class="row">
    <div class="col-md-12" v-if="!selected">
      <div class="card">
        <div class="content">
          <vue-good-table :columns="columns" :rows="contactforms"
                          :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                          :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actions'">
                <uiv-btn size="sm" type="success" @click="onCardSelected(props.row)" v-uiv-tooltip="'Detay'">
                  <i class="ti-pencil"></i>
                </uiv-btn>
                <uiv-btn size="sm" type="danger" v-confirm="{loader:true, ok: dialog => onItemDelete(dialog,props.row.id), message: 'Silmek istediğinizden emin misiniz?'}" v-uiv-tooltip="'Sil'">
                  <i class="ti-trash"></i>
                </uiv-btn>

              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
    <div class="row" v-if="selected">
      <div class="col-md-12">
        <div class="card">
          <div class="header"><h3>Mesaj Detay</h3><hr /></div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Ad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Soyad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.surname}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">E-Posta</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.email}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Telefon</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.phone}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Konu</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.title}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Mesaj</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.message}}</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <button class="btn btn-primary" @click="onClearSelected">Geri Dön</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: mapState({
      contactforms: state => state.contactform.all,
      selected: state => state.contactform.selected,
      isNew: state => state.contactform.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("contactform/getAll");
    },
    data() {
      return {
        columns: [
          {
            label: 'Adı',
            field: 'name',
          },
          {
            label: 'Soyadı',
            field: 'surname',
          },
          {
            label: 'Telefon',
            field: 'phone',
          },
          {
            label: 'E-Posta',
            field: 'email',
          },
          {
            label: 'Konu',
            field: 'title',
          },
          {
            label: 'Mesaj Tarihi',
            field: 'createdDate',
            formatFn: this.formatDateTime
          },
          {
            field: 'actions'
          }
        ]
      };
    },
    methods: {
      ...mapActions("contactform", ["onSave", "onNew", "onDelete", "onCardSelected", "onClearSelected"]),
      onFormClose() { this.$store.state.contactform.selected = null; },
      formatDateTime(value) {
        return this.$options.filters.formatDateTime(value);
      },
      formatDate(value) {
        return this.$options.filters.formatDate(value);
      },
      onItemDelete(dialog, id) {
        this.onDelete(id);
        dialog.close();
      }
    }
  };
</script>
