﻿<template>
  <div class="row">
    <div class="col-md-12" v-if="!selected">
      <div class="card">
        <div class="content">
          <vue-good-table :columns="columns" :rows="feedbacks"
                          :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                          :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actions'">
                <uiv-btn size="sm" type="info" @click="onCardSelected(props.row)" v-uiv-tooltip="'Detay'">
                  <i class="ti-eye"></i>
                </uiv-btn>
                <uiv-btn size="sm" type="success" v-confirm="{loader:true, ok: dialog => onItemApprove(dialog,props.row), message: 'Onay durumunu değiştirmek istediğinizden emin misiniz?'}" v-uiv-tooltip="'Onayla'">
                  <i class="ti-thumb-up" v-if="!props.row.approved"></i>
                  <i class="ti-thumb-down" v-else></i>
                </uiv-btn>

                <uiv-btn size="sm" type="danger" v-confirm="{loader:true, ok: dialog => onItemDelete(dialog,props.row.id), message: 'Silmek istediğinizden emin misiniz?'}" v-uiv-tooltip="'Sil'">
                  <i class="ti-trash"></i>
                </uiv-btn>

              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
    <div class="row" v-if="selected">
      <div class="col-md-12">
        <div class="card">
          <div class="header"><h3>Mesaj Detay</h3><hr /></div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Ad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">E-Posta</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.email}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Telefon</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.phone}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Mesaj</label>
            <div class="col-sm-10">
              <p class="form-control-static" v-html="selected.message"></p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Photo</label>
            <div class="col-sm-10">
              <p class="form-control-static"><img :src="selected.photoUrl" style="width:92px;height:92px" /> </p>
            </div>
          </div>
          
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Başlık</label>
            <div class="col-sm-10">
              <fg-input v-model="selected.title"></fg-input>
              <span class="help-text">Anasayfa slider görünen kısım</span>
            </div>
          </div>


          <div class="form-group col-lg-12">
            <button class="btn btn-success" @click="onItemSave(selected)">Kaydet &amp; Onayla</button>
            <button class="btn btn-primary" @click="onClearSelected">Geri Dön</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: mapState({
      feedbacks: state => state.feedbacks.all,
      selected: state => state.feedbacks.selected,
      isNew: state => state.feedbacks.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("feedbacks/getAll");
    },
    data() {
      return {
        columns: [
          {
            label: 'Adı',
            field: 'name',
          },
          {
            label: 'Telefon',
            field: 'phone',
          },
          {
            label: 'E-Posta',
            field: 'email',
          },
          {
            label: 'Başlık',
            field: 'title',
          },

          {
            label: 'Mesaj Tarihi',
            field: 'createdDate',
            formatFn: this.formatDateTime
          },
          {
            label: 'Onaylı',
            field: 'approved'
          },
          {
            field: 'actions'
          }
        ]
      };
    },
    methods: {
      ...mapActions("feedbacks", ["onSave", "onNew", "onDelete", "onCardSelected", "onClearSelected"]),
      onFormClose() { this.$store.state.feedbacks.selected = null; },
      formatDateTime(value) {
        return this.$options.filters.formatDateTime(value);
      },
      formatDate(value) {
        return this.$options.filters.formatDate(value);
      },
      onItemDelete(dialog, id) {
        this.onDelete(id);
        dialog.close();
      },
      onItemApprove(dialog, payload) {
        payload.approved = !payload.approved;
        this.onSave(payload);
        dialog.close();
      },
      onItemSave(payload) {
        payload.approved = true;
        this.onSave(payload);
        dialog.close();
      }
    }
  };
</script>
