﻿<template>
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="card">
        <div class="header">
          <button type="button" class="btn btn-info btn-fill" @click.prevent="onNew">
            <i class="ti-plus"></i> Yeni
          </button>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li v-for="item in images" :key="item.id">
              <card :card="item" @onCardSelected="onCardSelected"></card>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <img-form :item.sync="selected"
               :isNew.sync="isNew"
               @onItemChanged="onSave"
               @onItemDelete="onDelete"></img-form>
    </div>
  </div>
</template>
<script>
  import imgForm from "./ImageSlider/Form.vue";
  import Card from "./ImageSlider/Card.vue";
  import { mapState, mapActions } from "vuex";

  export default {
    components: {
      imgForm,
      Card
    },
    computed: mapState({
      images: state => state.slider.all,
      selected: state => state.slider.selected,
      isNew: state => state.slider.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("slider/getAll");
    },
    methods: {
      ...mapActions("slider", ["onSave", "onNew", "onDelete", "onCardSelected"])
    }
  };
</script>
