﻿<template>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <link-bread-crumb :items="getLinkHierarchy" @getChildItems="getChildItems"></link-bread-crumb>
    </div>
    <div class="col-lg-5 col-md-6">
      <div class="card">
        <div class="header">
          <div class="form-inline">
            <div class="col-xs-12">
              <button type="button" class="btn btn-info btn-fill" @click.prevent="onNew" title="Yeni Ekle">
                <i class="fa fa-plus"></i>Yeni Ekle
              </button>
              <button type="button" class="btn btn-info btn-fill" @click.prevent="getParentItems" title="Üst Linkler">
                <i class="fa fa-arrow-up"></i> Üst Link
              </button>
            </div>
          </div>
        </div>
        <div class="content">
          <link-card :cards=links @onCardSelected="onItemSelected" @getChildItems="getChildItems"></link-card>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6">
      <link-form v-bind:item.sync="selected" v-bind:pages="pages" v-bind:parentLinks="parentLinks" v-bind:isNew.sync="isNew" @onItemChanged="onSave" @onItemDelete="onDelete"></link-form>
    </div>
  </div>
</template>
<script>
  import LinkForm from "./Link/LinkForm.vue";
  import LinkCard from "./Link/LinkCard.vue";
  import LinkBreadCrumb from "./Link/LinkBreadCrumb.vue";

  import { mapGetters, mapState, mapActions } from "vuex";

  export default {
    components: {
      LinkForm,
      LinkCard,
      LinkBreadCrumb
    },
    computed: {
      ...mapState({
        links: state => state.links.allFiltered,
        pages: state => state.pages.all,
        selected: state => state.links.selected,
        parentItem: state => state.links.parentItem,
        isNew: state => state.links.isNew,
        errors: state => state.links.errors
      }),
      ...mapGetters({
        parentLinks: "links/getParentItems",
        getLinkHierarchy: "links/getLinkHierarchy"
      })
    },
    created() {
      this.$store.dispatch("links/getAll");
      this.$store.dispatch("pages/getAll");
    },
    methods: {
      ...mapActions("links", [
        "onSave",
        "onNew",
        "onDelete",
        "onItemSelected",
        "getChildItems",
        "getParentItems"
      ]),
      onFilterLayoutChanged: function () {
        this.$store.dispatch("links/getAll");
      }
    }
  }
</script>
