﻿<template>
  <div class="row">
    <div class="col-lg-4 col-md-5" id="pageCardId">
      <div class="card">
        <div class="header">
          <button type="button" class="btn btn-info btn-fill" @click.prevent="onNew">
            <i class="ti-plus"></i> Yeni
          </button>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li v-for="page in pages" :key="page.Id">
              <page-card :card=page @onCardSelected="onCardSelected" @openPageGallery="openPageGallery"></page-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
      <page-form 
        :item.sync="selected" 
        :isNew.sync="isNew" 
        @onItemChanged="onSave" 
        @onItemDelete="onDelete"
        v-if="!galleryOpened"></page-form>

      <page-gallery :page="selected" v-if="galleryOpened" @onGalleryClose="onGalleryClose"></page-gallery>
    </div>
  </div>
</template>
<script>
import PageForm from "./Page/PageForm.vue";
import PageCard from "./Page/PageCard.vue";
import PageGallery from "./Page/PageGallery.vue";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    PageForm,
    PageCard,
    PageGallery
  },
  computed: mapState({
    pages: state => state.pages.all,
    selected: state => state.pages.selected,
    isNew: state => state.pages.isNew,
    errors: state => (state.errors ? state.errors : [])
  }),
  created() {
    this.$store.dispatch("pages/getAll");
  },
  data() {
    return { galleryOpened: false };
  },
  methods: {
    ...mapActions("pages", ["onSave", "onNew", "onDelete", "onCardSelected"]),
    openPageGallery(page) {
      this.$store.dispatch("pages/onCardSelected", page);
      this.$store.dispatch("gallery/getAll", page.id);
      this.galleryOpened = true;
    },
    onGalleryClose() {
      this.galleryOpened = false;
    }
  }
};
</script>

<style scoped>
  #pageCardId{
  max-height: 700px; overflow-y: scroll;
  }

  ::-webkit-scrollbar {
  width: 12px;
  }

  ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
</style>
