﻿<template>
  <div class="row">
    <div class="col-md-12" v-if="!selected">
      <div class="card">
        <div class="content">
          <vue-good-table :columns="columns" :rows="resumes"
                          :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                          :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actions'">
                <button class="btn btn-sm btn-success" @click="onCardSelected(props.row)" title="Detay">
                  <i class="ti-pencil"></i>
                </button>
              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
    <div class="row" v-if="selected">
      <div class="col-md-12">
        <div class="card">
          <div class="header"><h3>Başvuru Detay</h3><hr /></div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Ad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Soyad</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.surname}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Cinsiyet</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{this.getGenderString(selected.gender)}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Doğum Tarihi</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{this.formatDate(selected.birthdate)}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">İl</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.city.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">İlçe</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.town.name}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">E-Posta</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.email}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Telefon</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.phone}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Tecrube</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.experience}} yıl</p>
            </div>
          </div>

          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Eğitim Durumu</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{this.getStudyTypeString(selected.studyType)}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <label class="col-sm-2 control-label">Ön Yazı</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{selected.coverLetter}}</p>
            </div>
          </div>
          <div class="form-group col-lg-12">
            <i class="fa fa-download fa-2x" aria-hidden="true"></i>&nbsp;<a :href="selected.resumeFileUrl" target="_blank"> Cv İndir</a>
          </div>
          <div class="form-group col-lg-12">
            <button class="btn btn-primary" @click="onClearSelected">Geri Dön</button>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: mapState({
      resumes: state => state.resumes.all,
      selected: state => state.resumes.selected,
      isNew: state => state.resumes.isNew,
      errors: state => (state.errors ? state.errors : [])
    }),
    created() {
      this.$store.dispatch("resumes/getAll");
    },
    data() {
      return {
        columns: [
          {
            label: 'Adı',
            field: 'name',
          },
          {
            label: 'Soyadı',
            field: 'surname',
          },
          {
            label: 'Cinsiyet',
            field: 'gender',
            formatFn: this.getGenderString
          },
          {
            label: 'Telefon',
            field: 'phone',
          },
          {
            label: 'E-Posta',
            field: 'email',
          },
          {
            label: 'Doğum Tarihi',
            field: 'birthdate',
            formatFn: this.formatDate
          },
          {
            label: 'İl',
            field: 'city.name',
          },
          {
            label: 'İlçe',
            field: 'town.name',
          },
          {
            label: 'Eğitim Durumu',
            field: 'studyType',
            formatFn: this.getStudyTypeString
          },
          {
            label: 'Tecrube (Yıl)',
            field: 'experience'
          },
          {
            label: 'Oluşturma Tarihi',
            field: 'createdDate',
            formatFn: this.formatDateTime
          },
          {
            field: 'actions'
          }
        ]
      };
    },
    methods: {
      ...mapActions("resumes", ["onSave", "onNew", "onDelete", "onCardSelected", "onClearSelected"]),
      onFormClose() { this.$store.state.resumes.selected = null; },
      formatDateTime(value) {
        return this.$options.filters.formatDateTime(value);
      },
      formatDate(value) {
        return this.$options.filters.formatDate(value);
      },
      getGenderString(value) {
        switch (value) {
          case 1:
            return 'Erkek';
            break;
          case 2:
            return 'Kadın';
            break;
        }
      },
      getStudyTypeString(value) {
        switch (value) {
          case 1: return "Okur Yazar";
          case 2: return "İlkokul";
          case 3: return "Ortaokul";
          case 4: return "Lise";
          case 5: return "Ön Lisans";
          case 6: return "Lisans";
          case 7: return "Yüksek Lisans";
          case 8: return "Doktora";
        }

      }

    }
  };
</script>
