﻿<template>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <button class="btn btn-warning" @click="get"><i class="fa fa-refresh"></i>Yenile</button>
          <button class="btn btn-primary" @click="save(model)"><i class="fa fa-save"></i>Kaydet</button>
        </div>
        <div class="content">
          <!--Site Ayarları Formu-->
          <form v-if="model">
            <div class="form-group"><label>Sezon</label><input type="number" v-model="model.season" class="form-control"/></div>
            <div class="form-group"><fg-input type="text" label="Title" v-model="model.title"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Meta" v-model="model.meta"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Description" v-model="model.description"></fg-input></div>
            <div class="form-group">
              <input type="file" style="display:none" ref="fileInputTopBarLogo" accept="image/*" @change="onTopBarLogoPicked" />
              <button type="button" class="btn btn-default btn-fill btn-wd" @click="onPickTopBarLogo">Top Bar Logo Yükle</button>
            </div>
            <div class="form-group"><img :src="topBarLogoUrl" height="150"></div>
            <div class="form-group">
              <input type="file" style="display:none" ref="fileInputFooterBarLogo" accept="image/*" @change="onFooterBarLogoPicked" />
              <button type="button" class="btn btn-default btn-fill btn-wd" @click="onPickFooterBarLogo">Footer Bar Logo Yükle</button>
            </div>
            <div class="form-group"><img :src="footerBarLogoUrl" height="150"></div>
            <div class="form-group"><fg-input type="text" label="SiteName" v-model="model.siteName"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Phone1" v-model="model.phone1"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Phone2" v-model="model.phone2"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Phone3" v-model="model.phone3"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Email" v-model="model.email"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="FacebookLink" v-model="model.facebookLink"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="TwitterLink" v-model="model.twitterLink"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="GooglePlusLink" v-model="model.googlePlusLink"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="InstagramLink" v-model="model.instagramLink"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="PinterestLink" v-model="model.pinterestLink"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="Address" v-model="model.address"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="GoogleMapsCoordinates" v-model="model.googleMapsCoordinates"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="GoogleAnalyticsCode" v-model="model.googleAnalyticsCode"></fg-input></div>
            <div class="form-group"><fg-input type="text" label="CopyrightText" v-model="model.copyrightText"></fg-input></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: mapState({
    model: state => state.settings.model
  }),
  created() {
    this.$store.dispatch("settings/get");
  },
  watch: {
    model: function() {
      if (this.model) {
        this.topBarLogoUrl = this.model.topBarLogo;
        this.footerBarLogoUrl = this.model.footerBarLogo;
      }
    }
  },
  methods: {
    ...mapActions("settings", ["save", "get"]),
    onPickTopBarLogo() {
      this.$refs.fileInputTopBarLogo.click();
    },
    onTopBarLogoPicked(event) {
      const files = event.target.files;
      let filename = files[0].name;

      if (filename.lastIndexOf(".") <= 0) {
        return alert("Lütfen resim dosyası seçiniz!");
      }
      const fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.topBarLogoUrl = fileReader.result;
      });
      fileReader.readAsDataURL(files[0]);
      this.model.topBarLogoFile = files[0];
    },

    onPickFooterBarLogo() {
      this.$refs.fileInputFooterBarLogo.click();
    },
    onFooterBarLogoPicked(event) {
      const files = event.target.files;
      let filename = files[0].name;

      if (filename.lastIndexOf(".") <= 0) {
        return alert("Lütfen resim dosyası seçiniz!");
      }
      const fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.footerBarLogoUrl = fileReader.result;
      });
      fileReader.readAsDataURL(files[0]);
      this.model.footerBarLogoFile = files[0];
    }
  },
  data() {
    return { topBarLogoUrl: "", footerBarLogoUrl: "" };
  }
};
</script>
