﻿<template>
  <div class="row">
    <div class="col-lg-5 col-md-5">
      <div class="card">
        <div class="header">
        <button type="button" class="btn btn-warning btn-fill btn-wd" @click.prevent="newMember">
          <i class="fa fa-plus"></i> Yeni Kullanıcı
        </button>
        <hr>
          </div>
        <div class="content">
          <ul class="list-unstyled team-members">
            <li v-for="member in members" :key="member.person.Id">
              <members-card :member="member" @onMemberSelected="setSelectedMember"></members-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-7">
      <edit-profile-form v-bind:member.sync="selectedMember" v-bind:isNew.sync="isNew" @onMemberChanged="saveMember" @newMember="newMember">
      </edit-profile-form>
    </div>
  </div>
</template>
<script>
  import EditProfileForm from "./UserProfile/EditProfileForm.vue";
  import MembersCard from "./UserProfile/MembersCard.vue";
  import { mapState, mapActions } from 'vuex';

  export default {
  components: {
  EditProfileForm,
  MembersCard
  },
  computed: mapState({
  members: state => state.member.all,
  selectedMember: state => state.member.selected,
  isNew: state => state.member.isNew,
  errors: state => state.errors ? state.errors : []
  }),
  created() {
  this.$store.dispatch("member/getAllMembers");

  },
  methods: mapActions('member', ['saveMember', 'setSelectedMember', 'newMember']),

  };
</script>
<style>
</style>
