﻿<template>
  <div class="row">
    <div class="col-md-12" v-if="!selected">
      <div class="card">
        <div class="header">
          <div>
            <div class="form-horizontal">
              <button type="button" class="btn btn-info btn-fill" @click.prevent="onNew">
                <i class="ti-plus"></i> Yeni
              </button>
            </div>
            <div class="form-inline">
              <label>
                Destination:
              </label>
              <select v-model="yachtDestination" class="form-control">
                <option :value="d.name" v-for="d in $YachtCategories">{{d.name}}</option>
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="content">
          <vue-good-table :columns="columns" :rows="yachts"
                          :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                          :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'actions'">
                <uiv-btn type="success" size="sm" @click="onItemSelected(props.row)" v-uiv-tooltip="'Düzenle'">
                  <i class="ti-pencil"></i>
                </uiv-btn>
                <uiv-btn type="warning" size="sm" @click="openPrices(props.row)" v-uiv-tooltip="'Fiyat Girişi'">
                  <i class="ti-money"></i>
                </uiv-btn>
                <uiv-btn size="sm" @click="openYachtGallery(props.row)" v-uiv-tooltip="'Tekne Galerisi'">
                  <i class="ti-brush-alt"></i>
                </uiv-btn>

              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
          </vue-good-table>
        </div>
      </div>
    </div>
    <div class="col-md-12" v-if="selected">
      <yacht-form :item.sync="selected"
                  :isNew.sync="isNew"
                  @onItemChanged="onSave"
                  @onItemDelete="onDelete"
                  @onFormClose="onFormClose"
                  v-if="!galleryOpened && !pricesOpened"></yacht-form>

      <yacht-gallery :yacht="selected" v-if="galleryOpened" @onGalleryClose="onGalleryClose"></yacht-gallery>
      <yacht-prices :yacht="selected" v-if="pricesOpened" @onPricesClose="onPricesClose"></yacht-prices>
    </div>
  </div>
</template>
<script>
import YachtForm from "./Yachts/YachtForm.vue";
import YachtGallery from "./Yachts/YachtGallery.vue";
import YachtPrices from "./Yachts/YachtPrices.vue";

import { mapState, mapActions } from "vuex";

export default {
  components: {
    YachtForm,
    YachtGallery,
    YachtPrices
  },
  computed: mapState({
    yachts: state => state.yachts.all,
    selected: state => state.yachts.selected,
    isNew: state => state.yachts.isNew,
    errors: state => (state.errors ? state.errors : [])
  }),
  created() {
    this.$store.dispatch("yachts/getAll", this.yachtDestination);
  },
  data() {
    return {
      yachtDestination: this.$YachtCategories[0].name,
      galleryOpened: false,
      pricesOpened: false,
      columns: [
        {
          label: "Code",
          field: "code"
        },
        {
          label: "Name",
          field: "name"
        },
        {
          label: "Destination",
          field: "destination"
        },
        {
          label: "Posible Departures",
          field: "posibleDepartures"
        },
        {
          label: "Number Of Cabins",
          field: "numberOfCabins"
        },
        {
          label: "Max. Number Of Guests",
          field: "maxNumberOfGuests"
        },
        {
          label: "Recommended",
          field: "recommended"
        },

        {
          field: "actions"
        }
      ]
    };
  },
  methods: {
    ...mapActions("yachts", ["onSave", "onNew", "onDelete", "onItemSelected"]),
    onFormClose() {
      this.$store.state.yachts.selected = null;
    },
    openYachtGallery(yacht) {
      this.$store.dispatch("yachts/onItemSelected", yacht);
      this.$store.dispatch("yachtgallery/getAll", yacht.id);
      this.galleryOpened = true;
    },
    onGalleryClose() {
      this.galleryOpened = false;
      this.$store.state.yachts.selected = null;
    },
    openPrices(yacht) {
      this.$store.dispatch("yachts/onItemSelected", yacht);
      this.$store.dispatch("yachtprices/getAll", yacht.id);
      this.pricesOpened = true;
    },
    onPricesClose() {
      this.pricesOpened = false;
      this.$store.state.yachts.selected = null;
    }
  },
  watch: {
    yachtDestination: function() {
      this.$store.dispatch("yachts/getAll", this.yachtDestination);
    }
  }
};
</script>
