﻿<template>
  <section id="page-slider-area">
    <div id="bootstrap-touch-slider" style="max-height: 600px" class="carousel bs-slider fade  control-round indicators-line"
         data-ride="carousel" data-pause="hover" data-interval="false" v-if="blog && blog.galleries.length>0">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" v-for="(g,j) in blog.galleries" :data-slide-to="j"></li>
      </ol>

      <!-- Wrapper For Slides -->
      <div class="carousel-inner" role="listbox">
        <div :class="{'item':true,'active':(j==0)}" v-for="(g,j) in blog.galleries">
          <!-- Slide Background -->
          <img :src="g.imageLargeUrl" :alt="g.name" class="slide-image" />
          <div class="bs-slider-overlay"></div>
          <div class="container">
            <div class="row">
              <!-- Slide Text Layer -->
              <div class="slide-text1 slide_style_left">
                <h1 data-animation="animated zoomInRight">{{blog.title}}</h1>
                <p data-animation="animated fadeInLeft">{{g.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Slide -->
      </div>
      <!-- End of Wrapper For Slides -->
      <!-- Left Control -->
      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Right Control -->
      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <section id="sub-page-banner" v-else>
      <div class="sub-page-banner">
        <div class="layer">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="subpage-banner-text">
                  <h4 class="subpage-head">{{blog.title}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clearfix">&nbsp;</div>
  </section>
</template>
<style>
  .slide-text1 {
    left: 2%;
    top: 18%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
  }

    .slide-text1 > h1 {
      padding: 0;
      color: #ffffff;
      font-size: 45px;
      font-style: normal;
      letter-spacing: 1px;
      display: inline-block;
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }

    .slide-text1 > p {
      padding: 0;
      color: #ffffff;
      font-size: 20px;
      line-height:40px;
      font-weight: 300;
      margin-bottom: 40px;
      letter-spacing: 1px;
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s;
    }
</style>
<script>
  export default {
    props: {
      blog: {
        type: Object
      }
    }
  }
</script>