﻿<template>

  <section id="blogs" class="recent-post">
    <page-carousel :page="link.page" v-if="link.page"></page-carousel>
    <section id="single-blog" class="single-blog">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="comments">
              <ul>
                <li>
                  <blockquote>
                    <img src="http://via.placeholder.com/92x91/" alt="" class="img-responsive" />
                    <div class="comments-details">
                      <h4>Sminth Jhon <span>15 Jan, 2014</span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <img src="http://via.placeholder.com/92x91/" alt="" class="img-responsive" />
                    <div class="comments-details">
                      <h4>Sminth Jhon <span>15 Jan, 2014</span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <img src="http://via.placeholder.com/92x91/" alt="" class="img-responsive" />
                    <div class="comments-details">
                      <h4>Sminth Jhon <span>15 Jan, 2014</span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <img src="http://via.placeholder.com/92x91/" alt="" class="img-responsive" />
                    <div class="comments-details">
                      <h4>Sminth Jhon <span>15 Jan, 2014</span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                  </blockquote>
                </li>
              </ul>
            </div>
            <div class="replay-form">
              <h4>ADD FEEDBACK</h4>
              <form id="replay-form-fields" class="replay-form-fields form-horizontal" data-fv-framework="bootstrap"
                    data-fv-message="This value is not valid" data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
                    data-fv-feedbackicons-invalid="glyphicon glyphicon-remove" data-fv-feedbackicons-validating="glyphicon glyphicon-refresh">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <div class="form-group textarea-formgroup">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <textarea class="form-control message-area" placeholder="Enter your message" cols="50" rows="4"
                                id="message" name="message" data-fv-notempty="true" data-fv-stringlength="true"
                                data-fv-stringlength-max="200" data-fv-stringlength-message="The message must be less than 200 characters"
                                data-fv-notempty-message="The message is required"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Name:" id="name" name="name" type="text"
                             data-fv-notempty="true" data-fv-notempty-message="The name is required" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="E-mail:" id="email" name="email" type="email"
                             data-fv-notempty="true" data-fv-notempty-message="The email address is required"
                             data-fv-emailaddress="true" data-fv-emailaddress-message="The input is not a valid email address" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="Phone:" id="phone" name="phone" type="text"
                             data-fv-notempty="true" data-fv-notempty-message="Phone Number is required" data-fv-integer="true"
                             data-fv-integer-message="The input is not a valid Phone Number" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <button type="submit" class="btn btn-default" name="signup">Send Message</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="normal-post">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" v-for="blog in blogs">
              <div class="item">
                <div class="post-area">
                  <div class="image-holder" :style="`background-image:url('${encodeURI(blog.galleries[0].imageLargeUrl)}');width:245px;height:281px;background-position:center;background-size:cover;`">
                  </div>
                  <div class="post-details">
                    <h4 class="post-head">
                      <a :href="getBlogLink(blog)">
                        {{blog.title}}
                      </a>
                    </h4>
                    <span class="post-meta">
                      <span v-if="blog.doctor"><i class="fa fa-user"></i>&nbsp;{{blog.doctor.fullName}}</span>
                      <span v-else><i class="fa fa-user"></i>&nbsp;Admin</span>
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{blog.createDate | formatDate}}
                      </span>
                    </span>
                    <p v-html="blog.htmlContent" style="height: 50px;
                              overflow: hidden;
                              text-overflow: ellipsis;"></p>
                    <a :href="getBlogLink(blog)" class="read-more">Devamını oku <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import Divider from "../UI/Divider";
  import BlogCarousel from "./BlogCarousel.vue";
  import PageCarousel from "./PageCarousel.vue";

  import urlify from 'node-django-urlify';

  import { mapState, mapActions, mapGetters } from "vuex";

  export default {
    components: {
      Divider,
      BlogCarousel,
      PageCarousel
    },
    props: {
      link: {
        type: Object,
        required: true
      }
    },
    computed: {
      ...mapState({
        blogs: state => state.blogs.all,
        doctorBlogs: state => state.blogs.doctorBlogs.splice(0, 5),
      }),
      selectedBlog: function () {
        if (this.$route.params["param1"]) {
          var blg = this.$store.state.blogs.all.find(x => x.id == this.$route.params["param1"])
          return blg;
        } else {
          return null;
        }
      }
    },
    watch: {
      selectedBlog: function () {
        if (this.selectedBlog.doctor) {
          this.$store.dispatch("blogs/getBlogsByDoctorId", this.selectedBlog.doctor.id);
        } else {

        }
      }
    },

    created() {
      this.$store.dispatch("blogs/getAll");
    },
    methods: {
      getBlogLink: function (blg) {
        return `/${this.link.url}/${blg.id}/${urlify(blg.title)}`;
      }
    }
  }
</script>