﻿<template>
  <section>
    <page-carousel :page="link.page" v-if="link.page"></page-carousel>
    <!-- Map starts -->
    <section id="map" class="map">
      <div style="width: 100%" v-html="settings.googleMapsCoordinates"></div>
      <br />
    </section>
    <!-- Map ends -->
    <!-- Contact Form starts -->
    <section id="contact-page-form" class="contact-page-form" v-if="contactForm">
      <div class="container">
        <div class="row">
          <div class="appoinment-form pulse wow" data-wow-duration="1s">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
              <div class="contact-form-fields form-horizontal">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Title" type="text" v-model="contactForm.title" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Name" type="text" v-model="contactForm.name" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Surname" type="text" v-model="contactForm.surname" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                      <input class="form-control" placeholder="E-mail" type="email" v-model="contactForm.email" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                      <input class="form-control" placeholder="Phone" type="text" v-model="contactForm.phone" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <div class="form-group textarea-formgroup">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <textarea class="form-control message-area" placeholder="Your Message" cols="50" rows="4" v-model="contactForm.message"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <button class="btn btn-default" @click="submitContactForm">SUBMIT</button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                <div class="alert alert-danger" v-if="errors && errors.length>0">
                  <ul class="list-group">
                    <li v-for="e in errors" class="list-group-item">{{e}}</li>
                  </ul>
                </div>
              </div>  
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="address-details">
                <ul>
                  <li>
                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                    <span>{{settings.phone1}}</span>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>
                      <a :href="`mailto:${settings.email}`"> {{settings.email}}</a>
                    </span>
                  </li>
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <address>{{settings.address}}</address>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
  import PageCarousel from "./PageCarousel.vue";
  import { mapState, mapActions, mapGetters } from "vuex";
  export default {
    components: {
      PageCarousel
    },
    props: {
      link: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        contactForm: null
      }
    },
    computed: {
      ...mapState({
        settings: state => state.settings.model,
        errors: state => state.contactform.errors
      })
    },
    created() {
      this.$store.dispatch("settings/get");
      var _this = this;
      this.$store.dispatch("contactform/onNew").then(x => _this.contactForm = x);
    },
    methods: {
      ...mapActions("contactform", [
        "onSave",
        "onNew"
      ]),
      submitContactForm: function () {
        this.onSave(this.contactForm);
      }
    }
  }
</script>