﻿<!--
  { label: 'İçerik', id: 1 },
{ label: 'Tekneler', id: 2 },
{ label: 'Hedefler', id: 3 },
{ label: 'Rotalar', id: 4 },
{ label: 'İletişim', id: 5 },
{ label: 'Blog', id: 6 },
{ label: 'Feedbacks', id: 7 }
  ]-->

<template>
  <section>
    <page-header></page-header>
    <html-content :link="link" v-if="link && link.page && link.page.module==1"></html-content>
    <our-fleet :link="link" v-if="link && link.page.module==2"></our-fleet>
    <contact :link="link" v-if="link && link.page && link.page.module==5"></contact>
    <blogs :link="link" v-if="link && link.page && link.page.module==6"></blogs>
    <feedbacks :link="link" v-if="link && link.page && link.page.module==7"></feedbacks>
    <page-footer></page-footer>
  </section>
</template>
<script>
  import Vue from 'vue';
  import { mapState, mapActions, mapGetters } from "vuex";
  import Header from '../Header/Header.vue';

  import custom from "../../js/custom";

  import HtmlContent from './HtmlContent.vue';
  import BlogsVue from './Blogs.vue';
  import ContactVue from './Contact.vue';
  import Footer from '../Footer/Footer.vue';
  import OurFleetVue from './OurFleet.vue';
  import FeedbacksVue from './Feedbacks.vue';

  Vue.component('page-header', Header);
  Vue.component('html-content', HtmlContent);
  Vue.component('page-footer', Footer);
  Vue.component('blogs', BlogsVue);
  Vue.component('contact', ContactVue);
  Vue.component('our-fleet', OurFleetVue);
  Vue.component('feedbacks', FeedbacksVue);

  export default {
    data() {
      return {
        link: null
      }
    },
    created() {
      var _this = this;
      this.$store.dispatch("links/getSingleByUrl", this.$route.params.url).then(response => { _this.link = response; });
    },
    mounted() {
      custom.initPage();
      custom.initCarousel();
    }
  }

</script>
