﻿<template>

  <section id="blogs" class="recent-post">
    <page-carousel :page="link.page" v-if="link.page"></page-carousel>
    <div id="single-blog" class="single-blog">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="comments">
              <ul>
                <li v-for="item in feedbacks">
                  <blockquote>
                    <img :src="item.photoUrl?item.photoUrl:'images/noyacht.png'" alt="" class="img-responsive" style="width:92px;height:92px" />
                    <div class="comments-details">
                      <h4>{{item.name}} <span>{{item.createdDate | formatDate}}</span></h4>
                      <p v-html="item.message"></p>
                    </div>
                  </blockquote>
                </li>
              </ul>
            </div>
            <div class="contact-page-form" v-if="feedback">
              <div class="container">
                <div class="row">
                  <div class="appoinment-form">
                    <div id="replay-form-fields" class="contact-form-fields form-horizontal">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                        <div class="form-group textarea-formgroup">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <html-editor v-model="feedback.message" :editorToolbar="customToolbar"></html-editor>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input class="form-control" placeholder="Name:" type="text"
                                   v-model="feedback.name" />
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                            <input class="form-control" placeholder="E-mail:" type="email" v-model="feedback.email" />
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 no-l-padding">
                        <div class="form-group">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                            <input class="form-control" placeholder="Phone:" type="text" v-model="feedback.phone" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-xs-12">
                        <input type="file" style="display:none" ref="fileInputPhoto" @change="onPhotoFilePicked" />
                        <button type="button" class="btn btn-danger" @click="onPickPhotoFile">Upload Photo</button>
                        <div class="col-xs-12" v-if="uploadedPhotoFileUrl">
                          <img class="img-responsive" :src="uploadedPhotoFileUrl" style="width:92px; height:92px" />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                          <button class="btn btn-default" @click="submitFeedbackForm">Send Message</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                      <div class="alert alert-danger" v-if="errors && errors.length>0">
                        <ul class="list-group">
                          <li v-for="e in errors" class="list-group-item">{{e}}</li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import Divider from "../UI/Divider";
  import PageCarousel from "./PageCarousel.vue";

  import { mapState, mapActions, mapGetters } from "vuex";

  export default {
    components: {
      Divider,
      PageCarousel
    },
    props: {
      link: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        feedback: null,
        uploadedPhotoFileUrl: null,
        customToolbar: [
          ["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }]
        ]
      }
    },

    computed: {
      ...mapState({
        feedbacks: state => state.feedbacks.all,
        errors: state => state.feedbacks.errors
      })
    },
    created() {
      this.$store.dispatch("feedbacks/getAll", true);
      var _this = this;
      this.$store.dispatch("feedbacks/onNew").then(x => _this.feedback = x);
    },
    methods: {
      ...mapActions("feedbacks", [
        "onSave",
        "onNew"
      ]),
      submitFeedbackForm: function () {
        this.onSave(this.feedback);
      },
      onPickPhotoFile() {
        this.$refs.fileInputPhoto.click();
      },
      onPhotoFilePicked(event) {
        const files = event.target.files;
        let filename = files[0].name;

        if (filename.lastIndexOf(".") <= 0) {
          return alert("Please choose the file with correct extension!");
        }

        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.uploadedPhotoFileUrl = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        this.feedback.photoFile = files[0];
      },

    }

  }
</script>