﻿<template>
  <section class="content">
    <carousel></carousel>
    <about-us :links="model.children" v-if="model && model.children"></about-us>
    <div class="clearfix">&nbsp;</div>
    <divider title="DESTINATIONS"></divider>
    <sub-pages url="destinations" subclass="col-sm-12 col-md-4 col-lg-4 col-xs-12"></sub-pages>
    <banner url="images/banners/banner.jpg"></banner>
  </section>
</template>
<script>
  import HomeBanner from "./Home/HomeBanner";
  import Carousel from "./Home/Carousel";
  import SubPages from "./Home/SubPages";
  import AboutUs from "./Home/AboutUs";
  import Banner from "./Home/Banner";
  import Divider from "../UI/Divider";
  import { mapState } from "vuex";

  import custom from "../../js/custom";


  export default {
    components: {
      Carousel,
      HomeBanner,
      Divider,
      AboutUs,
      Banner,
      SubPages
    },
    computed: {
      ...mapState({
        model: state => state.links.allHierarchical.find(x => x.url == '/')
      })
    },
    mounted() {
      custom.initPage();
      custom.initCarousel();

    }
  }
</script>
