﻿<template>
  <div>

    <page-carousel :page="link.page" v-if="link.page"></page-carousel>
    <div class="clearfix">&nbsp;</div>
    <divider :title="link.name" :subtitle="link.page.title"></divider>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-right" id="appointment-top">
          <button class="appointment-form-button btn btn-success" @click="onAppointmentFormOpen">ENQUIRY FORM</button>
        </div>
        <div class="appoinment-form-container" v-if="appointmentForm">
          <div class="contact-page-form" id="appointmentForm">
            <div class="appoinment-form">
              <div id="replay-form-fields" class="contact-form-fields form-horizontal">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <h3>Enquiry Form</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Name:" type="text"
                             v-model="appointmentForm.name" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="Surname:" type="text"
                             v-model="appointmentForm.surname" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>

                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="E-mail:" type="email" v-model="appointmentForm.email" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="Phone:" type="text" v-model="appointmentForm.phone" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="City:" type="text"
                             v-model="appointmentForm.city" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input class="form-control" placeholder="State:" type="text"
                             v-model="appointmentForm.state" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="Embarkation Date:MM/DD/YYYY" type="text" v-model="appointmentForm.embarkationDate" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="Disembarkation Date:MM/DD/YYYY" type="text" v-model="appointmentForm.disembarkationDate" />
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input class="form-control" placeholder="Number Of Guests:" type="number" v-model="appointmentForm.numberOfGuests" />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <div class="form-group textarea-formgroup">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <span>
                        Notes
                        <html-editor v-model="appointmentForm.notes" placeholder="Tell us more about enquiry" :editorToolbar="customToolbar"></html-editor>
                      </span>
                      <span class="text-danger"><i class="ti-info-alt" title="Required Field"></i></span>
                    </div>
                  </div>
                </div>

                <div class="clearfix">&nbsp;</div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-6">
                    <button class="btn btn-default" @click="submitAppointmentForm">SUBMIT</button>
                  </div>
                  <div class="col-xs-6 text-right">
                    <button class="btn btn-danger" @click="closeAppointmentForm"> <i class="ti-close"></i> CANCEL</button>
                  </div>

                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                <div class="alert alert-danger" v-if="errors && errors.length>0">
                  <ul class="list-group">
                    <li v-for="e in errors" class="list-group-item">{{e}}</li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <section id="html-content" style="padding: 33px 0px" class="single-blog" v-if="link.page">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="blog-list-details">
              <div class="fr-element fr-view" v-html="link.page.htmlContent">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <sub-pages :url="link.url" subclass="col-sm-12 col-md-3 col-lg-3 col-xs-12"></sub-pages>
  </div>
</template>
<script>
  import PageCarousel from "./PageCarousel.vue";
  import Divider from "../UI/Divider";
  import SubPages from "./Home/SubPages";
  import { setTimeout } from "timers";
  import { mapState, mapActions, mapGetters } from "vuex";
  export default {
    components: {
      PageCarousel,
      Divider,
      SubPages
    },
    props: {
      link: {
        type: Object
      }
    },
    data() {
      return {
        appointmentForm: null,
        customToolbar: [
          ["bold", "italic", "underline"], [{ list: "ordered" }, { list: "bullet" }]
        ],
        errors: []
      }
    },
    computed: {
      ...mapState({
        formerrors: state => state.appointment.errors
      })
    },
    mounted() {
      setTimeout(function () {
        $('#appointment-top').sticky({
          topSpacing: 110,
          responsiveWidth: true
        });
      }, 500);

    },
    methods: {
      onAppointmentFormOpen() {
        var _this = this;
        this.$store.dispatch("appointment/onNew").then(x => {
          x.embarkationDate = null;
          x.disembarkationDate = null;
          x.numberOfGuests = null;
          _this.appointmentForm = x
          setTimeout(function () {
            $('.appoinment-form-container').sticky({
              topSpacing: 110,
              responsiveWidth: true
            });
            $('.appoinment-form-container').fadeIn(500);
          }, 200);
          $('html, body').animate({

            scrollTop: 700

          }, 1000);
        
        });
      },
      closeAppointmentForm() {
        if (this.appointmentForm) {
          setTimeout(function () {
            $('.appoinment-form-container').fadeOut(500);
          }, 200, () => this.appointmentForm = null);
        }
      },
      submitAppointmentForm() {
        var _this = this;
        this.appointmentForm.yachtName = this.link.name;
        this.errors = [];

        if (!moment(this.appointmentForm.embarkationDate, 'MM/DD/YYYY').isValid()) {
          this.errors.push("Embarkation Date is not valid format. MM/DD/YYYY");
        }

        if (!moment(this.appointmentForm.disembarkationDate, 'MM/DD/YYYY').isValid()) {
          this.errors.push("Disembarkation Date is not valid format. MM/DD/YYYY");
        }

        if (this.errors.length == 0) {
          this.$store.dispatch("appointment/onSave", this.appointmentForm).then(x => {
            _this.errors = x;
            if (x.length == 0) {
              $('.appoinment-form-container').fadeOut(500);
            }
          });
        } else {
          this.$toastr('error', this.errors.join("<br/>"));
        }

      }
    }
  }
</script>


<style>
  /*===============================
           Appointment Top
  ===============================*/

  .appoinment-form-container {
    display: block;
    background: #fff;
    z-index: 999999!important;
  }

  .appoinment-form {
    bottom: 0 !important;
  }

  .contact-page-form {
    padding-bottom: 0px !important;
  }

  @media (max-width: 1216px) {
    .appoinment-form-container {
      top: 0;
    }
  }

  #appointment-top-sticky-wrapper {
    z-index: 9999 !important;
    position: relative;
  }

  #appointment-top .appointment-form-button {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 9999;
    color: #fff;
    background: #00d8ff;
    border: 1px solid #00d8ff;
    border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

    #appointment-top .appointment-form-button:hover {
      background: #2cdbb5;
      border: 1px solid #2cdbb5;
      color: #fff;
      border-radius: 15px;
    }
</style>