﻿<template>
  <div class="blog-grid-page" v-if="!selectedYacht">
    <page-carousel :page="link.page" v-if="link.page"></page-carousel>
    <section id="fleets" class="recent-post">
      <div class="container">
        <div class="row">
          <search-bar id="fleetSearchBar"></search-bar>
          <div class="clearfix">&nbsp;</div>
          <div class="normal-post">
            <div
              class="col-xs-12 col-sm-4 col-md-4 col-lg-4"
              v-for="yacht in yachts"
              :key="yacht.id"
            >
              <div class="item">
                <div class="post-area">
                  <div class="image-holder">
                    <a :href="getYachtLink(yacht)">
                      <img :src="getYachCoverPhoto(yacht.galleries)" alt class="img-responsive" />
                    </a>
                    <div class="post-head">
                      <span class="col-xs-7 col-lg-12 col-md-12 col-sm-7">
                        <a :href="getYachtLink(yacht)">{{yacht.name}}</a>
                      </span>
                      <span
                        v-if="yacht.destination"
                        class="col-xs-5 col-lg-12 col-md-12 col-sm-5 col-md-offset-1 text-right"
                        style="margin-left: 20px;"
                      >
                        <span
                          class="label label-success"
                          v-for="d in getDestinations(yacht.destination)"
                          :key="d"
                        >{{d}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="post-details">
                    <span class="post-meta">
                      <span v-if="yacht.numberOfCabins">
                        <i class="fa fa-bed mr-5" aria-hidden="true"></i>
                        Number Of Cabins: {{yacht.numberOfCabins}}
                      </span>
                      <span v-if="yacht.maxNumberOfGuests">
                        <i class="fa fa-users mr-5" aria-hidden="true"></i>
                        Number Of Guests: {{yacht.maxNumberOfGuests}}
                      </span>
                    </span>
                    <p>{{yacht.crewDescription}}</p>
                  </div>
                  <div class="clearfix"></div>
                  <div
                    class="post-footer"
                    :class="getYachtStatus(yacht)"
                    v-if="$route.query.date && $route.query.date!='all'"
                  >
                    <span
                      class="col-xs-12"
                      style="text-transform:uppercase"
                    >{{getYachtStatus(yacht)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <main class="main" v-else>
    <div class="container">
      <div class="row">
        <div class="appoinment-form-container" v-if="appointmentForm">
          <div class="contact-page-form" id="appointmentForm">
            <div class="appoinment-form">
              <div id="replay-form-fields" class="contact-form-fields form-horizontal">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <h3>Enquiry Form</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input
                        class="form-control"
                        placeholder="Name:"
                        type="text"
                        v-model="appointmentForm.name"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input
                        class="form-control"
                        placeholder="Surname:"
                        type="text"
                        v-model="appointmentForm.surname"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input
                        class="form-control"
                        placeholder="E-mail:"
                        type="email"
                        v-model="appointmentForm.email"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input
                        class="form-control"
                        placeholder="Phone:"
                        type="text"
                        v-model="appointmentForm.phone"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input
                        class="form-control"
                        placeholder="City:"
                        type="text"
                        v-model="appointmentForm.city"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <input
                        class="form-control"
                        placeholder="State:"
                        type="text"
                        v-model="appointmentForm.state"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input
                        class="form-control"
                        placeholder="Embarkation Date:MM/DD/YYYY"
                        type="text"
                        v-model="appointmentForm.embarkationDate"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input
                        class="form-control"
                        placeholder="Disembarkation Date:MM/DD/YYYY"
                        type="text"
                        v-model="appointmentForm.disembarkationDate"
                      />
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-l-padding">
                  <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 custom-padding">
                      <input
                        class="form-control"
                        placeholder="Number Of Guests:"
                        type="number"
                        v-model="appointmentForm.numberOfGuests"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                  <div class="form-group textarea-formgroup">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <span>
                        Notes
                        <html-editor
                          v-model="appointmentForm.notes"
                          placeholder="Tell us more about enquiry"
                          :editorToolbar="customToolbar"
                        ></html-editor>
                      </span>
                      <span class="text-danger">
                        <i class="ti-info-alt" title="Required Field"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="clearfix">&nbsp;</div>
                <div class="form-group col-xs-12">
                  <div class="col-xs-6">
                    <button class="btn btn-default" @click="submitAppointmentForm">SUBMIT</button>
                  </div>
                  <div class="col-xs-6 text-right">
                    <button class="btn btn-danger" @click="closeAppointmentForm">
                      <i class="ti-close"></i> CANCEL
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-l-padding">
                <div class="alert alert-danger" v-if="errors && errors.length>0">
                  <ul class="list-group">
                    <li v-for="e in errors" class="list-group-item" :key="e">{{e}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section id="single-blog" class="single-blog">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="blog-list-details">
                  <responsive-carousel :images="selectedYacht.galleries" id="yacht-slider"></responsive-carousel>
                  <div class="post-head">
                    <div class="col-xs-12 col-sm-12 col-md-6 text-left">
                      <h3>{{selectedYacht.name}}</h3>
                    </div>
                    <div
                      v-if="selectedYacht.destination"
                      class="col-xs-12 col-sm-12 col-md-6 text-right"
                    >
                      <span
                        class="label label-success"
                        v-for="d in getDestinations(selectedYacht.destination)"
                        :key="d"
                      >{{d}}</span>
                    </div>
                  </div>

                  <div class="blog-list-description">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                      <h4 class="blog-list-head">
                        <a href="#">{{selectedYacht.name}}</a>
                      </h4>
                    </div>
                    <div
                      class="col-xs-5 col-sm-5 col-md-5 col-lg-5 text-right"
                      id="appointment-top"
                    >
                      <button
                        class="appointment-form-button btn btn-success"
                        @click="onAppointmentFormOpen"
                      >ENQUIRY FORM</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <p
                      class="single-blog-para fr-element fr-view"
                      v-html="selectedYacht.yachtDescription"
                    ></p>
                    <div class="single-blog-para">
                      <h4>PRICES</h4>
                      <p class="fr-element fr-view" v-html="selectedYacht.priceDescription"></p>
                      <div class="row" v-if="currency">
                        <div class="col-md-2">
                          <select
                            class="form-control"
                            v-model="selectedCurrency"
                            id="select-currency"
                          >
                            <option :value="{name:'EUR',amount:1}">EUR</option>
                            <option
                              :value="c"
                              v-for="c in currency.currencyRates"
                              :data-name="c.name"
                              :key="c.name"
                            >{{c.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="clearfix">&nbsp;</div>
                      <div
                        class="alert alert-info"
                        v-for="pr in selectedYacht.yachtPrices.filter(x=>x.year==season)"
                        role="alert"
                        :key="pr.id"
                      >
                        <div class="row">
                          <div class="col-xs-3">
                            <b :class="{'overlined':!pr.active}">{{pr.name}}</b>
                          </div>
                          <div class="col-xs-6 text-center">
                            <section :class="{'overlined':!pr.active}">
                              From
                              <b>{{pr.startDate|formatDate}}</b> to
                              <b>{{pr.endDate|formatDate}}</b>
                            </section>
                          </div>
                          <div class="col-xs-3 text-right">
                            <b
                              :class="{'overlined':!pr.active}"
                            >{{(pr.price * selectedCurrency.amount).toFixed(0)| formatNumber }} {{selectedCurrency.name}}</b>
                          </div>
                        </div>
                        <span v-for="w in pr.yachtPriceWeeks" :key="w.id">
                          <span
                            class="label"
                            :class="{'label-success':w.state==0}"
                            title="available"
                            v-if="w.state==0"
                          >{{w.startDate | formatDate}}</span>
                          <span
                            class="label"
                            :class="{'label-warning':w.state==2}"
                            title="optioned"
                            v-if="w.state==2"
                          >{{w.startDate | formatDate}}</span>
                          <span
                            class="label"
                            :class="{'label-danger':w.state==1}"
                            title="sold"
                            v-if="w.state==1"
                          >{{w.startDate | formatDate}}</span>
                        </span>
                      </div>
                      <p class="fr-element fr-view" v-html="selectedYacht.priceDetailedDescription"></p>
                    </div>
                    <div class="single-blog-para">
                      <h4>ACCOMMODATION DETAILS</h4>
                      <p class="fr-element fr-view" v-html="selectedYacht.accommodationDetails"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 sidebar">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="category-widget">
                      <h4>SPECIFICATIONS</h4>
                      <ul v-if="selectedYacht.posibleDepartures">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Departures :
                          <b>{{selectedYacht.posibleDepartures}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.numberOfCabins">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Number Of Cabins :
                          <b>{{selectedYacht.numberOfCabins}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.length">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Length :
                          <b>{{selectedYacht.length}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.beam">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Beam :
                          <b>{{selectedYacht.beam}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.draft">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Draft :
                          <b>{{selectedYacht.draft}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.cruiseSpeed">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Cruise Speed :
                          <b>{{selectedYacht.cruiseSpeed}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.waterTank">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Water Tank :
                          <b>{{selectedYacht.waterTank}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.sailing">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Sailing :
                          <b>{{selectedYacht.sailing}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.checkInTime">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Check in Time :
                          <b>{{selectedYacht.checkInTime}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.checkOutTime">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Check out Time :
                          <b>{{selectedYacht.checkOutTime}}</b>
                        </li>
                      </ul>

                      <ul v-if="selectedYacht.crewDescription">
                        <li>
                          <i class="fa fa-angle-double-right mr-5" aria-hidden="true"></i> Crew :
                          <p style="text-align:justify">{{selectedYacht.crewDescription}}</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--<div class="row" id="appointment-top">
                  <div class="hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="appointment-form-button btn btn-success">CREATE AN APPOINTMENT</button>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="recent-post-widget">
                      <h4>RECOMMENDED YACHTS</h4>
                      <div
                        class="recent-post-list"
                        v-for="yacht in recommendedYachts"
                        :key="yacht.id"
                      >
                        <figure>
                          <a :href="getYachtLink(yacht)" class="col-xs-6">
                            <img
                              :src="yacht.galleries[0] ? yacht.galleries[0].imageThumbUrl:'images/noyacht.png'"
                              alt
                              class="img-responsive pull-left recent-post-img"
                            />
                          </a>
                          <h5>
                            <a :href="getYachtLink(yacht)">{{yacht.name}}</a>
                          </h5>
                          <div v-if="yacht.numberOfCabins">
                            <i class="fa fa-bed mr-5" aria-hidden="true"></i>
                            Cabins:
                            {{yacht.numberOfCabins}}
                          </div>
                          <div v-if="yacht.maxNumberOfGuests">
                            <i class="fa fa-users mr-5" aria-hidden="true"></i>
                            Guests:
                            {{yacht.maxNumberOfGuests}}
                          </div>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tags-widget">
                      <h4>TAGS</h4>
                      <a
                        :href="`/our-fleet?tag=${l.trim()}`"
                        class="btn btn-secondary"
                        v-for="l in getTags(selectedYacht.tags)"
                        :key="l"
                      >{{l.trim()}}</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tags-widget">
                      <h4>SHARE</h4>
                      <a href="#">
                        <i class="fa fa-facebook-square fa-2x"></i>
                      </a>
                      <a href="#">
                        <i class="fa fa-twitter-square fa-2x"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
</template>
<script>
import Divider from "../UI/Divider";
import PageCarousel from "./PageCarousel.vue";
import ResponsiveCarousel from "./ResponsiveCarousel.vue";
import SearchBar from "./Home/SearchBar.vue";
import urlify from "node-django-urlify";
import moment from "moment";
import { mapState, mapActions, mapGetters } from "vuex";
import { setTimeout } from "timers";

export default {
  components: {
    Divider,
    PageCarousel,
    SearchBar,
    ResponsiveCarousel
  },
  data() {
    return {
      yachtPrices: null,
      recommendedYachts: [],
      selectedCurrency: { name: "EUR", amount: 1 },
      appointmentForm: null,
      customToolbar: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }]
      ],
      errors: []
    };
  },
  props: {
    link: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      yachts: state => state.yachts.all,
      currency: state => state.currency.currency,
      formerrors: state => state.appointment.errors,
      season: state => state.settings.model.season
    }),
    selectedYacht: function() {
      if (this.$route.params["param1"]) {
        var yacht = this.$store.state.yachts.all.find(
          x => x.id == this.$route.params["param1"]
        );
        return yacht;
      } else {
        return null;
      }
    }
  },
  watch: {
    selectedYacht: function() {
      if (this.selectedYacht) {
        var _this = this;
        this.$store
          .dispatch(
            "yachtprices/getAll",
            this.selectedYacht.id,
            moment().year()
          )
          .then(
            x =>
              (_this.yachtPrices = x.filter(p => p.active == null || p.active))
          );

        this.$store
          .dispatch("yachts/getRecommendedYachts")
          .then(
            x =>
              (_this.recommendedYachts = x.filter(
                y => y.id != _this.selectedYacht.id
              ))
          );

        setTimeout(function() {
          $("#appointment-top").sticky({
            topSpacing: 80,
            responsiveWidth: true
          });
        }, 500);
      } else {
        this.yachtPrices = null;
      }
    }
  },

  created() {
    var _this = this;
    this.$store.dispatch("currency/get").then(response => {
      this.selectedCurrency = response.data.currencyRates.find(
        x => x.name == "USD"
      );
    });

    if (this.$route.query.destination) {
      this.$store.dispatch("yachts/search", {
        destination: this.$route.query.destination,
        month: this.$route.query.month,
        date: this.$route.query.date,
        numOfGuests: this.$route.query.numOfGuests,
        price: this.$route.query.price
      });
    } else {
      this.$store.dispatch("yachts/getAll");
    }
  },
  methods: {
    getYachtStatus: function(yacht) {
      if (this.$route.query.date && this.$route.query.date != "all") {
        var _date = this.$route.query.date;
        var _price = yacht.yachtPrices.find(
          x =>
            moment(x.startDate).format("YYYY-MM-DD") <= _date &&
            moment(x.endDate).format("YYYY-MM-DD") >= _date
        );
        var _state = "hidden";
        if (_price) {
          var _week = _price.yachtPriceWeeks.find(
            w => moment(w.startDate).format("YYYY-MM-DD") == _date
          );
          if (_week) {
            switch (_week.state) {
              case 0:
                _state = "available";
                break;
              case 2:
                _state = "optioned";
                break;
              case 1:
                _state = "sold";
                break;
            }
          }
        }
        return _state;
      } else {
        return "hidden";
      }
    },
    getYachCoverPhoto: function(galleries) {
      if (galleries && galleries.length > 0) {
        var covers = galleries.filter(x => x.cover);
        if (covers && covers.length > 0) {
          return covers[0].imageLargeUrl;
        } else {
          return galleries[0].imageLargeUrl;
        }
      } else {
        return "images/noyacht.png";
      }
    },
    getYachtLink: function(yacht) {
      return `/${this.link.url}/${yacht.id}/${urlify(yacht.name)}`;
    },
    getDestinations: function(destination) {
      return destination.split(",");
    },
    getTags: function(tags) {
      if (tags) {
        return tags.split(",");
      } else {
        return [];
      }
    },
    onAppointmentFormOpen() {
      var _this = this;
      this.$store.dispatch("appointment/onNew").then(x => {
        x.embarkationDate = null;
        x.disembarkationDate = null;
        x.numberOfGuests = null;
        _this.appointmentForm = x;
      });
    },
    closeAppointmentForm() {
      if (this.appointmentForm) {
        this.appointmentForm = null;
      }
    },
    submitAppointmentForm() {
      var _this = this;
      this.appointmentForm.yachtName = this.selectedYacht.name;
      this.errors = [];

      if (
        !moment(this.appointmentForm.embarkationDate, "MM/DD/YYYY").isValid()
      ) {
        this.errors.push("Embarkation Date is not valid format. MM/DD/YYYY");
      }

      if (
        !moment(this.appointmentForm.disembarkationDate, "MM/DD/YYYY").isValid()
      ) {
        this.errors.push("Disembarkation Date is not valid format. MM/DD/YYYY");
      }

      if (this.errors.length == 0) {
        this.$store
          .dispatch("appointment/onSave", this.appointmentForm)
          .then(x => {
            _this.errors = x;
          });
      } else {
        this.$toastr("error", this.errors.join("<br/>"));
      }
    }
  }
};
</script>

<style>
.overlined {
  text-decoration-style: solid;
  text-decoration: line-through;
  text-decoration-color: red;
}
/*===============================
           Appointment Top
  ===============================*/

.appoinment-form-container {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 112px;
  background: #fff;
  z-index: 99999;
}

.appoinment-form {
  bottom: 0 !important;
}

.contact-page-form {
  padding-bottom: 0px !important;
}

@media (max-width: 1216px) {
  .appoinment-form-container {
    top: 0;
  }
}

#appointment-top-sticky-wrapper {
  z-index: 9999 !important;
  position: relative;
}

#appointment-top .appointment-form-button {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 9999;
  color: #fff;
  background: #00d8ff;
  border: 1px solid #00d8ff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#appointment-top .appointment-form-button:hover {
  background: #2cdbb5;
  border: 1px solid #2cdbb5;
  color: #fff;
  border-radius: 15px;
}

.post-head {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  right: 15px;
  left: 15px;
}

.post-head a {
  color: #fff;
}

.post-footer {
  position: absolute;
  bottom: 220px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  right: 15px;
  left: 15px;
  text-align: center;
}

.available {
  color: #c6ff00;
}
.optioned {
  color: #ffc400;
}
.sold {
  color: #ff3d00;
}

.post-meta {
  margin-bottom: 0px !important;
}

.post-meta span {
  margin-right: 5px;
}

.post-details p {
  margin-bottom: 0px !important;
  text-align: justify;
}

#fleetSearchBar.search-home {
  position: unset !important;
  width: 100%;
}

#fleetSearchBar.search-home .search-home-form {
  width: 100% !important;
}

.recent-post .normal-post .item {
  min-height: 370px;
}

.recent-post .normal-post .item .post-area {
  min-height: 370px;
}

.single-blog .blog-list-details .blog-list-description span {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
.alert {
  margin-bottom: 5px !important;
  padding: 15px 15px 0px 15px !important;
}

@media (max-width: 1024px) {
  .post-head {
    font-size: 14px;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  #fleetSearchBar.search-home {
    position: unset !important;
  }

  #fleetSearchBar.search-home .search-home-form {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .recent-post .normal-post .item {
    min-height: unset;
  }

  .recent-post .normal-post .item .post-area {
    min-height: unset;
  }
}
</style>