﻿<template>
  <section id="page-slider-area">
    <div id="bootstrap-touch-slider" style="max-height: 600px" class="carousel bs-slider fade  control-round indicators-line"
         data-ride="carousel" data-pause="hover" data-interval="false" v-if="page && page.galleries.length>0">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" v-for="(g,j) in page.galleries" :data-slide-to="j"></li>
      </ol>

      <!-- Wrapper For Slides -->
      <div class="carousel-inner" role="listbox">
        <div :class="{'item':true,'active':(j==0)}" v-for="(g,j) in page.galleries">
          <!-- Slide Background -->
          <img :src="g.imageLargeUrl" :alt="g.name" class="slide-image" />
          <div class="bs-slider-overlay"></div>
          <div class="container">
            <div class="row">
              <!-- Slide Text Layer -->
              <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">{{page.name}}</h1>
                <p data-animation="animated fadeInLeft">{{g.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Slide -->
      </div>
      <!-- End of Wrapper For Slides -->
      <!-- Left Control -->
      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Right Control -->
      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <section id="sub-page-banner" v-else>
      <div class="sub-page-banner">
        <div class="layer">
          <div class="container">
            <div class="subpage-banner-text">
              <h4 class="subpage-head">{{page.name}}</h4>
              <h5>{{page.title}}</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<style>
  .slide-text {
    margin-top: -50px !important;
  }

    .slide-text > h1 {
      line-height: normal !important;
      margin-bottom: -130px !important;
    }

    .slide-text p {
      margin-top: 50px !important;
    }
</style>
<script>
  export default {
    props: {
      page: {
        type: Object
      }
    }
  }
</script>