﻿<template>
  <div :id="id" class="carousel bs-slider fade control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li :data-target="`#${id}`" :data-slide-to="index" :class="{'active':index==0}" v-for="img,index in images" :key="img.id"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" :class="{'active':index==0}" v-for="img,index in images">
        <img :src="img.imageLargeUrl" :alt="img.name">
        <!--<div class="carousel-caption">
          {{img.name}}
        </div>-->
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" :href="`#${id}`" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span> 
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" :href="`#${id}`" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</template>
<script>
  export default {
    props: {
      images: {
        type: Array,
        required: true
      },
      id: {
        type: String,
        required: true
      }
    }
  }

</script>