﻿<template>
  <section id="about-us">
    <!-- Desktop -->
    <section id="about-us-tab-section" class="our-department" v-if="false">

      <div class="container">
        <div id="tabContent">
          <div class="row">
            <div class="">
              <ul id="tabnav" class="nav nav-pills nav-stacked col-sm-3 col-md-3 col-lg-3">
                <li v-for="(link,i) in links" :class="{'active':i==0}">
                  <a :href="`#${link.url}`" data-toggle="tab">{{link.name}}</a>
                </li>
              </ul>
              <div class="tab-content tab-content col-sm-9 col-md-9 col-lg-offset-1 col-lg-8 no-padding">
                <div :id="link.url" v-for="(link,i) in links" :class="{'tab-pane':true, 'active':i==0}">
                  <p style="height: 250px;
                              overflow: hidden;
                              text-overflow: ellipsis;" v-html="link.page.htmlContent">
                  </p>
                  <p>
                    <a :href="`/${link.url}`" class="btn btn-default">Read More</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- tab content -->
          </div>
        </div>
      </div>
    </section>

    <!-- Mobil -->
    <section class="department-accordian" id="about-us-accordion-section" v-if="window.width>1024">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="faq-accordian">
              <div class="panel-group" id="about-us-accordion" role="tablist" aria-multiselectable="false">
                <!-- Content Begins -->
                <div class="panel panel-default" v-for="(link,i) in links">
                  <div :class="{'panel-heading':true, 'active':i==0}" role="tab" :id="`heading${i}`">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#about-us-accordion" :href="`#collapse${i}`" aria-expanded="true" :aria-controls="`#collapse${i}`">{{link.name}}</a>
                    </h4>
                  </div>
                  <div :id="`collapse${i}`" class="panel-collapse collapse" :class="{'in':i==0}" role="tabpanel" :aria-labelledby="`heading${i}`">
                    <div class="panel-body">
                      <p class="fr-element fr-view" v-html="link.page.htmlContent" style="height: 250px;
                              overflow: hidden;
                              text-overflow: ellipsis;"></p>
                      <div class="clearfix"></div>
                      <p class="text-right">
                        <a :href="`/${link.url}`" class="link">[ Read More...]</a>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Content Ends -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container" v-if="window.width<=1024">
      <div class="row" v-for="(link,i) in links">
        <divider :title="link.name"></divider>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="blog-list-details">
            <p class="fr-element fr-view" v-html="link.page.htmlContent" style="max-height: 350px;
                              overflow: hidden;
                              text-overflow: ellipsis;"></p>
            <div class="clearfix"></div>
            <p class="text-right">
              <a :href="`/${link.url}`" class="link">[ Read More...]</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>
<script>
  import Divider from "../../UI/Divider";
  export default {
    components: {
      Divider,
    },
    data() {
      return {
        window: {
          width: 0,
          height: 0
        }
      }
    },
    props: {
      links: {
        type: Array
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    }

  }
</script>