﻿<template>
  <section>
    <img :src="encodeURI(url)" style="width: 100%;height: auto;" />
  </section>
</template>
<script>
  export default {
    props: {
      url: {
        type: String,
        required: true
      }
    },
  }
</script>