﻿<template>
  <section id="recent-posts" style="background:#ffffff" class="recent-post">
    <div v-if="window.width<1024">
      <div class="container">
        <br />
        <divider title="BLOG"></divider>

        <div class="row">
          <div class="normal-post">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " v-for="blog in blogtype1">
              <div class="item">
                <div class="post-area">

                  <div class="image-holder">
                    <img :src="`${encodeURI(blog.galleries[0].imageLargeUrl)}`" alt="" class="img-responsive" />
                  </div>


                  <div class="post-details">
                    <h4 class="post-head">
                      <a :href="`/blogs/${blog.id}`">
                        {{blog.title}}
                      </a>
                    </h4>

                    <span class="post-meta">
                      <span v-if="blog.doctor"><i class="fa fa-user"></i> {{blog.doctor.fullName}}</span>
                      <span v-else><i class="fa fa-user"></i>Admin</span>
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>{{blog.createDate | formatDate}}
                      </span>
                    </span>


                    <p style="height: 50px;
                              overflow: hidden;
                              text-overflow: ellipsis;" v-html="blog.htmlContent">
                    </p>


                    <a :href="`/blogs/${blog.id}`" class="read-more">
                      Read More
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-right">
            <a href="/blogs" class="link">[ All Blogs...]</a>
          </p>
        </div>
      </div>
      <div class="clearfix">
        &nbsp;
      </div>

    </div>

    <div v-if="window.width>=1024">
      <div class="container">
        <br />
        <divider title="BLOG"></divider>

        <div class="row">
          <div class="normal-post">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " v-for="blog in blogtype1">
              <div class="item">
                <div class="post-area">

                  <div class="image-holder" :style="`background-image:url('${encodeURI(blog.galleries[0].imageLargeUrl)}');width:290px;height:297px;background-position:center;background-size:cover;`">
                  </div>


                  <div class="post-details">
                    <h4 class="post-head">
                      <a :href="`/blogs/${blog.id}`">
                        {{blog.title}}
                      </a>
                    </h4>

                    <span class="post-meta">
                      <span v-if="blog.person">
                        <i class="fa fa-user"></i> {{blog.person.name}}
                      </span>
                      <span v-else="">
                        <i class="fa fa-user"></i>Admin
                      </span>
                      <span>
                        <i class="fa fa-calendar" aria-hidden="true"></i>{{blog.createDate | formatDate}}
                      </span>
                    </span>


                    <p style="height: 50px;
                              overflow: hidden;
                              text-overflow: ellipsis;" v-html="blog.htmlContent">
                    </p>


                    <a :href="`/blogs/${blog.id}`" class="read-more">
                      Read More
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-right">
            <a href="/blogs" class="link">[ All Blogs...]</a>
          </p>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </div>
  </section>

</template>
<script>
  import { mapState, mapActions, mapGetters } from "vuex";

  import Divider from "../../UI/Divider";

  export default {
    components: {
      Divider,
    },
    data() {
      return {
        window: {
          width: 0,
          height: 0
        }
      }
    },
    computed: {
      ...mapState({
        blogs: state => state.blogs.all
      }),
      blogtype1: function () {
        return this.blogs.filter(x => x.displayType == 1).splice(0, 2);
      }
    },
    created() {
      this.$store.dispatch("blogs/getAll");
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    }
  }

</script>