﻿<template>
  <section id="home-slider-area">
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade control-round indicators-line"
         data-ride="carousel" data-pause="hover" data-interval="false">

      <!-- Wrapper For Slides -->
      <div class="carousel-inner" role="listbox">
        <div :class="{'item':true,'active':(j===0)}" v-for="(g,j) in images">
          <!-- Slide Background -->
          <img :src="g.imageUrl" :alt="g.header1" class="slide-image" />

          <div class="container">
            <div class="row">
              <!-- Slide Text Layer -->
              <div class="slide-text">
                <h1 v-if="g.header1!='null'" data-animation="animated zoomInRight" v-html="g.header1"></h1>
                <p v-if="g.header2!='null'" data-animation="animated fadeInLeft">{{g.header2}}</p>
                <br />
                <a :href="g.detailUrl" v-if="g.detailUrl!=='/'" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">More Info</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Slide -->
      </div>
      <!-- End of Wrapper For Slides -->
      <!-- Left Control -->
      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Right Control -->
      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <search-bar id="home-search-bar"></search-bar>
  </section>
</template>
<script>
  import { mapState, mapActions, mapGetters } from "vuex";
  import SearchBar from "./SearchBar";

  export default {
    components: {
      SearchBar,
    },
    computed: {
      ...mapState({
        images: state => state.slider.all
      })
    },
    created() {
      this.$store.dispatch("slider/getAll");
    },

  }
</script>
<style>
  #home-slider-area {
    position: relative;
    width: 100%;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
  }
</style>