﻿<template>
  <section id="home-slider-area">
    <div id="bootstrap-touch-slider" class="bs-slider">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img :src="image.imageUrl" :alt="image.header1" class="slide-image" />
          <div class="container">
            <div class="row">
              <div class="slide-text">
                <h1 v-if="image.header1!='null'" data-animation="animated zoomInRight" v-html="image.header1"></h1>
                <p v-if="image.header2!='null'" data-animation="animated fadeInLeft">{{image.header2}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import { mapState, mapActions, mapGetters } from "vuex";

  export default {
    computed: {
      ...mapState({
        images: state => state.slider.all
      })
    },
    data() {
      return {
        image: null
      }
    },
    created() {
      this.$store.dispatch("slider/getAll");
    },
    watch: {
      images: function () {
        const idx = Math.floor(Math.random() * this.images.length);
        this.image = this.images[idx]
      }
    }
  }
</script>