﻿<template>
  <div class="search-home">
    <div class="search-home-form text-center">
      <h3>LETS FIND YOUR PERFECT MATCH</h3>
      <form class="form-inline" action="/our-fleet">
        <div class="form-group ">
          <select name="destination" id="destselect" class="form-control" v-model="destination">
            <option value="all">All Destinations</option>
            <option :value="c.name" v-for="c in $YachtCategories" :key="c.name">{{c.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="month" class="form-control" v-model="month">
            <option value="0">Month</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
          </select>
        </div>
        <div class="form-group">
          <select name="date" id="dateselall" class="form-control" v-model="date">
            <option value="all" selected>Departure date</option>
            <option :value="d | formatDateForDotnet" v-for="d in dates">{{d | formatDateMoment}}</option>
          </select>
        </div>
        <div class="form-group">
          <select name="numOfGuests" class="form-control" v-model="numOfGuests"><option value="0">Number of guests</option><option value="1">1 person</option><option value="2">2 people</option><option value="3">3 people</option><option value="4">4 people</option><option value="5">5 people</option><option value="6">6 people</option><option value="7">7 people</option><option value="8">8 people</option><option value="9">9 people</option><option value="10">10 people</option><option value="11">11 people</option><option value="12">12 people</option><option value="13">13 people</option><option value="14">14 people</option><option value="15">15 people</option><option value="16">16 people</option><option value="17">17 people</option><option value="18">18+</option></select>
        </div>
        <div class="form-group">
          <select name="price" class="form-control" v-model="price"><option value="0">Price range</option><option value="7000">up to 7.000 €/week</option><option value="10000">up to 10.000 €/week</option><option value="14000">up to 14.000 €/week</option><option value="20000">up to 20.000 €/week</option><option value="30000">up to 30.000 €/week</option><option value="0">more than 30.000 €/week</option></select>
        </div>
        <div class="form-group">
          <button class="btn btn-default">Search</button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      destination: "all",
      month: 0,
      date: "all",
      numOfGuests: 0,
      price: 0,
      dates: []
    };
  },
  watch: {
    month: function() {
      if (this.month > 0 && this.$store.state.settings) {
        const year = this.$store.state.settings.model.season;
        const today = moment(year + "-" + this.month + "-01");
        this.getSaturdays(this.month, today, []);
      }
    }
  },
  methods: {
    getSaturdays: function(month, today, sats) {
      const dayINeed = 6; // for saturday

      if (1 + today.month() == month) {
        var sat = moment(today.isoWeekday(dayINeed));
        sats.push(sat);
        this.getSaturdays(month, today.add(1, "weeks"), sats);
      } else {
        this.dates = sats;
      }
    }
  },
  created() {
    this.month = this.$route.query.month ? this.$route.query.month : 0;
    this.destination = this.$route.query.destination
      ? this.$route.query.destination
      : "all";
    this.date = this.$route.query.date ? this.$route.query.date : "all";
    this.numOfGuests = this.$route.query.numOfGuests
      ? this.$route.query.numOfGuests
      : 0;
    this.price = this.$route.query.price ? this.$route.query.price : 0;
  }
};
</script>