﻿<template>
  <section class="container" v-if="link && link.children">
    <div class="row">
      <div :class="subclass" v-for="item in link.children">
        <div class="thumbnail">
          <a :href="`${item.url}`">
            <img :src="item.page.galleries[0] ? item.page.galleries[0].imageLargeUrl:'images/noyacht.png'" :alt="item.name" :title="item.page.galleries[0] ? item.page.galleries[0].name:item.name">
          </a>
          <div class="caption">
            <h5>{{item.name}}</h5>
            <p>{{item.page.title}}&nbsp;</p>
            <p class="text-right"><a :href="`${item.url}`">[ Read More ]</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import Vue from 'vue';
  import { mapState, mapActions, mapGetters } from "vuex";

  export default {
    computed: {
      ...mapGetters("links", ['getChildItems', 'getLinkByUrl'])
    },
    data() {
      return {
        link: null
      }
    },
    props: {
      url: {
        type: String,
        required: true
      },
      subclass: {
        type: String
      }
    },
    created() {
      var _this = this;
      this.$store.dispatch("links/getSingleByUrl", this.url).then(response => {
        _this.link = response;
      });
    }
  }
</script>