﻿<template>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <div class="caption">
        <h2>
          {{title}}
        </h2>
        <h5 v-if="subtitle">{{subtitle}}</h5>
        <div class="divider">
          <span>
            <i class="fa fa-anchor fa-2x" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  export default {
    props: {
      title: {
        type: String
      },
      subtitle: {
        type: String
      }
    }
  }
</script>