﻿<template>
  <ul>
    <li v-if="!link.children || link.url=='/'">
      <a :href="`${link.url}`" :title="link.title" :id="`mm_${link.id}`">{{link.name}}</a>
    </li>


    <li v-else-if="link.children">

      <a :href="`#submenu_${link.id}`" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" :title="link.title" :id="`mm_${link.id}`">
        {{link.name}} <i class="caret"></i>
      </a>

      <ul :id="`submenu_${link.id}`" class="collapse list-unstyled">
        <li v-for="child in link.children">
          <a :href="`/${child.url}`" :title="child.title" :id="`mm_${child.id}`">{{child.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</template>
<script>
  export default {
    data() {
      return {
        window: {
          width: 0,
          height: 0
        }
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    },
    props: {
      link: {
        type: Object,
        required: true
      }
    }
  }
</script>
