﻿<template>
  <li  style="font-weight:bold;" v-if="!link.children || link.url=='/'">
    <a :href="`/${link.url}`" :title="link.title" :id="`mm_${link.id}`">{{link.name}}</a>
  </li>
  <li v-else-if="link.children" :class="{'dropdown':!sidebar}">

    <a data-toggle="dropdown" href="#" :title="link.title" :id="`mm_${link.id}`" v-if="!sidebar">{{link.name}}&nbsp;<i class="caret"></i></a>
    <span  style="font-weight:bold"  v-else>{{link.name}}</span>
    <ul :class="{'dropdown-menu':!sidebar}">
      <li v-for="child in link.children">
       <a :href="`/${child.url}`" :title="child.title" :id="`mm_${child.id}`" style="color:inherit" >{{child.name}}</a>
      </li>
    </ul>
  </li>
</template>
<script>
  export default {
   data() {
      return {
        window: {
          width: 0,
          height: 0
        }
      }
    },
     created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    },
    props: {
      link: {
        type: Object,
        required: true
      },
      sidebar: {
        type: Boolean,
        required: true
      }
    }
  }
</script>