﻿<template>
  <ol class="breadcrumb breadcrumb-white">
    <li><a href="javascipt:void()" @click.prevent="getChildItems(null)">Kök</a></li>
    <li v-for="item in items"><a href="javascipt:void()" @click.prevent="getChildItems(item)">{{item.name}}</a></li>
  </ol>
</template>
<script>
  export default {
    props: {
      items: { type: Array }
    },
    methods: {
      getChildItems(item) {
        this.$emit("getChildItems", item);
      }
    }
  };
</script>
<style>
</style>