﻿<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Link Düzenle / Ekle</h4>
    </div>
    <div class="content">
      <form v-if="item">
        <fg-input type="hidden" v-model="item.parentId"></fg-input>
        <div class="form-group">
          <label>Üst Link</label>
          <select v-model="item.parentId" class="form-control">
            <option :value="null">Ana Link</option>
            <option v-for="option in parentLinks.filter(x => x.id != this.item.id)" v-bind:value="option.id">
              {{ option.name }}
            </option>
          </select>
        </div>

        <div class="form-group"><fg-input type="text" label="Başlık" placeholder="Link Başlığı" v-model="item.name"></fg-input></div>
        <div class="form-group"><fg-input type="text" label="Konu" placeholder="Link Konusu" v-model="item.title"></fg-input></div>
        <div class="form-group"><fg-input type="text" label="Url" placeholder="Link Url" v-model="item.url"></fg-input></div>
        <div class="form-group"><fg-input type="number" label="Sıra" placeholder="Link Gösterim Sırası" v-model="item.displayOrder"></fg-input></div>
        <input type="hidden" value="2" v-model="item.layout" />
        <div class="form-group">
          <label>Sayfa</label>
          <select v-model="item.pageId" class="form-control">
            <option v-for="option in pages" v-bind:value="option.id">
              {{ option.name }}
            </option>
          </select>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="onItemChanged">
            Kaydet
          </button>
          <button type="button" class="btn btn-danger btn-fill btn-wd" :disable="isNew"
                  v-confirm="{loader:true, ok: dialog => onItemDelete(dialog), message: 'Silmek istediğinizden emin misiniz?'}">
            Sil
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      item: { type: Object },
      isNew: false,
      errors: { type: Array },
      pages: { type: Array },
      parentLinks: { type: Array }
    },
    methods: {
      onItemChanged() {
        this.$emit("onItemChanged", this.item);
      },
      onItemDelete(dialog) {
        this.$emit("onItemDelete", this.item.id);
        dialog.close();
      }
    }
  }
</script>