﻿<template>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th class="col-xs-4">Adı</th>
        <th class="col-xs-5">Sayfa</th>
        <th class="col-xs-1">Sıra</th>
        <th class="col-xs-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="card in cards" :key="card.Id">
        <td>
          {{card.name}}
        </td>
        <td>
          {{getPageName(card.pageId)}}
        </td>
        <td>
          {{card.displayOrder}}
        </td>
        <td class="text-right">
          <button class="btn btn-sm btn-default" @click.prevent="getChildItems(card)" title="Alt Linkleri Göster">
            <i class="ti-layers"></i>
          </button>
          <button class="btn btn-sm btn-success" @click.prevent="onSelectCard(card)" title="Düzenle">
            <i class="ti-pencil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</template>
<script>

  import { mapState } from "vuex";

  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      cards: {
        type: Array,
        required: true
      }
    },
    methods: {
      onSelectCard(card) {
        this.isSelected = true;
        this.$emit("onCardSelected", card);
      },
      getChildItems(card) {
        this.selectCard = false;
        this.$emit("getChildItems", card);
      },
      getPageName(id) {
        var page = this.$store.state.pages.all.find(x => x.id == id);
        if (page) {
          return page.name;
        } else {
          return "";
        }
      },
      getLayout(id) {
        var lay = this.$Layouts.find(x => x.id == id);
        if (lay) {
          return lay.label;

        } else {
          return "";
        }
      }
    }
  };
</script>
<style>
</style>
