﻿<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Kullanıcı Profili Düzenle</h4>
    </div>
    <div class="content">
      <form v-if="member">
        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="Eposta"
                      :disabled="!isNew"
                      placeholder="Eposta"
                      v-model="member.user.email">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="text"
                      label="Kullanıcı Adı"
                      placeholder="Kullanıcı Adı"
                      :disabled="!isNew"
                      v-model="member.user.userName">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="text"
                      label="Telefon Numarası"
                      placeholder="Telefon Numarası"
                      v-model="member.user.phoneNumber">
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Adı"
                      placeholder="Adı"
                      v-model="member.person.name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Soyadı"
                      placeholder="Soyadı"
                      v-model="member.person.surname">
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>
                Kullanıcı Rolleri
              </label>
              <!--<multiselect v-model="member.roles" :options="userRoles" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Kullanıcı Rolleri" label="name" track-by="name" :preselect-first="true">
                <template slot="tag" slot-scope="props">
                  <span class="custom__tag"><span>{{ props.option.name }}</span><span class="custom__remove" @click="props.remove(props.option)">&nbsp;❌</span></span>
                </template>
              </multiselect>-->
              <div>
                <multiselect v-model="member.roles"
                             :options="multiselectOptions"
                             :selectOptions="userRoles"
                             btnLabel="Kullanıcı Rolleri" />
                <div class="help-block"><ul><li v-for="r in member.roles">{{r.name}}</li></ul></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <fg-input type="password"
                      label="Parola"
                      placeholder="Parola"
                      v-model="member.user.passwordHash">
            </fg-input>
            <span class="help-block">En az bir alfanumerik karakter ve bir büyük harf içermelidir.</span>
          </div>
        </div>

        <div class="text-left">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="saveMember">
            <i class="fa fa-save"></i> Kaydet
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>

  export default {
    props: {
      member: { type: Object },
      isNew: false,
      errors: []
    },
    data() {
      return {
        multiselectOptions: {
          multi: true,
          groups: false,
        },
        userRoles: [{ name: 'Admin' }, { name: 'Editor' }, { name: 'Call_Center' }]
      }
    },
    methods: {
      saveMember() {
        this.$emit("onMemberChanged", this.member);
      },
      newMember() {
        this.$emit("newMember");
      }
    }
  }

</script>
