<template>
  <div class="row">
    <div class="col-xs-4">
      {{member.person.name}} {{member.person.surname}}
    </div>
    <div class="col-xs-4">
      {{member.user.email}}
    </div>
    <div class="col-xs-2">
      <span v-for="role in member.roles" class="item">
        <span>{{ role.name }}</span>
      </span>
    </div>
    <div class="col-xs-2 text-right">
      <button class="btn btn-sm btn-success" @click.prevent="selectMember">
        <i class="ti-pencil"></i>
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      member: {
        type: Object,
        required: true
      }
    },
    methods: {
      selectMember() {
        this.isSelected = true;
        this.$emit("onMemberSelected", this.member);
      }
    }
  };
</script>
<style>
  .item + .item:before {
    content: ", ";
  }
</style>
