﻿<template>
  <div class="row">
    <div class="col-xs-5">
      <span v-if="card.header1!='null'"> {{card.header1}}</span>
      <span v-if="card.header1=='null'">Başlık yok</span>
    </div>
    <div class="col-xs-4">
      <span v-if="card.header2!='null'"> {{card.header2}}</span>
      <span v-if="card.header2=='null'">Başlık yok</span>
    </div>
    <div class="col-xs-3 text-right">
      <button class="btn btn-sm btn-success" @click.prevent="selectCard">
        <i class="ti-pencil"></i>
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      card: {
        type: Object,
        required: true
      }
    },
    methods: {
      selectCard() {
        this.isSelected = true;
        this.$emit("onCardSelected", this.card);
      }
    }
  };
</script>
<style>
</style>
