﻿<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Slider Düzenle / Ekle</h4>
    </div>
    <div class="content">
      <form v-if="item">
        <div class="form-group"><fg-input type="text" label="Başlık 1" placeholder="Başlık 1" v-model="item.header1"></fg-input></div>
        <div class="form-group"><fg-input type="text" label="Başlık 2" placeholder="Başlık 2" v-model="item.header2"></fg-input></div>
        <div class="form-group">
          <fg-input type="text" label="Detay Url" placeholder="Detay Url" v-model="item.detailUrl"></fg-input>
          <div class="help-block">http:// ile başlayan adress girdiğinizde yeni sayfada açılacaktır</div>
        </div>
        <div class="form-group"><fg-input type="number" label="Sıra" placeholder="Ekran Sırası" v-model="item.displayOrder"></fg-input></div>
        <div class="form-group">
          <input type="file" style="display:none" ref="fileInput" accept="image/*" @change="onFilePicked" />
          <button type="button" class="btn btn-default btn-fill btn-wd" @click="onPickFile">Resim Yükle</button>
        </div>
        <div class="form-group"><img :src="imageUrl" height="150"></div>

        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="onItemChanged">
            Kaydet
          </button>
          <button type="button" class="btn btn-danger btn-fill btn-wd" v-if="!isNew"
                  v-confirm="{loader:true, ok: dialog => onItemDelete(dialog), message: 'Silmek istediğinizden emin misiniz?'}">
            Sil
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      item: { type: Object },
      isNew: false,
      errors: []
    },
    data() {
      return {
        imageUrl: ""
      }
    },
    watch: {
      'item.imageUrl': function (val) {
        if (val) {
          this.imageUrl = val;
        }
      }
    },
    created() {
      if (this.item) {
        this.imageUrl = this.item.imageUrl;
      }
    },
    methods: {
      onPickFile() {
        this.$refs.fileInput.click();
      },
      onFilePicked(event) {
        const files = event.target.files;
        let filename = files[0].name;

        if (filename.lastIndexOf(".") <= 0) {
          return alert("Lütfen resim dosyası seçiniz!");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageUrl = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        this.item.imageFile = files[0];
      },
      onItemChanged() {
        this.$emit("onItemChanged", this.item);
      },
      onItemDelete(dialog) {
        this.$emit("onItemDelete", this.item.id);
        dialog.close();
      }
    }
  };
</script>