﻿<template>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <div class="col-xs-4">
            <button type="button" class="btn btn-info btn-fill" @click="onBackToList">
              <i class="ti-angle-left"></i> Liste
            </button>
            <button type="button" class="btn btn-info btn-fill" @click="onNewImage">
              <i class="ti-plus"></i> Yeni
            </button>
          </div>
          <div class="col-xs-8 lead text-right">{{page.name}} Galeri
            <button type="button" class="btn btn-danger btn-fill" @click="onClose">
              <i class="ti-close"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div v-if="selected">
          <page-gallery-form v-bind:item.sync="selected" :page.sync="page" v-bind:isNew.sync="isNewImage" @onItemChanged="onSave" @onItemDelete="onDelete"></page-gallery-form>
        </div>
        <div v-if="!selected">
          <ul class="list-unstyled team-members">
            <li v-for="g in galleries" :key="g.Id">
              <page-gallery-card :card="g" @onCardSelected="onCardSelected"></page-gallery-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import PageGalleryForm from "./Gallery/PageGalleryForm.vue";
import PageGalleryCard from "./Gallery/PageGalleryCard.vue";
import { mapState, mapActions } from "vuex";

export default {
  props: {
    page: {
      type: Object
    }
  },
  components: {
    PageGalleryForm,
    PageGalleryCard
  },
  computed: mapState({
    galleries: state => state.gallery.all,
    selected: state => state.gallery.selected,
    isNewImage: state => state.gallery.isNew,
    errors: state => (state.errors ? state.errors : [])
  }),
  created() {
    
  },
  methods: {
    ...mapActions("gallery", [
      "onSave",
      "onNewImage",
      "onDelete",
      "onCardSelected"
    ]),
    onBackToList() {
      this.$store.dispatch("gallery/onCardSelected", null);
    },
    onClose() {
      this.$emit("onGalleryClose");
    }
  }
};
</script>
