﻿<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Sayfa Düzenle / Ekle</h4>
    </div>
    <div class="content">
      <form v-if="item">
        <div class="form-group">
          <fg-input
            type="text"
            label="Başlık"
            placeholder="Sayfa Başlığı"
            v-model="item.name"
          ></fg-input>
        </div>
        <div class="form-group">
          <fg-input
            type="text"
            label="Konu"
            placeholder="Sayfa Konusu"
            v-model="item.title"
          ></fg-input>
        </div>
        <div class="form-group">
          <label>Html İçerik</label>
          <vue-editor v-model="item.htmlContent"></vue-editor>
        </div>
        <div class="form-group">
          <fg-input
            type="text"
            label="Seo Açıklaması"
            placeholder="Seo Açıklaması"
            v-model="item.metaDescription"
          ></fg-input>
        </div>
        <div class="form-group">
          <label>Görüntüleme Tipi</label>
          <select v-model="item.module" class="form-control">
            <option v-for="option in this.$Modules" v-bind:value="option.id">
              {{ option.label }}
            </option>
          </select>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-info btn-fill btn-wd"
            @click.prevent="onItemChanged"
          >
            Kaydet
          </button>
          <button
            type="button"
            class="btn btn-danger btn-fill btn-wd"
            v-if="!isNew"
            v-confirm="{
              loader: true,
              ok: (dialog) => onItemDelete(dialog),
              message: 'Silmek istediğinizden emin misiniz?',
            }"
          >
            Sil
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
import { VueEditor } from "vue2-editor";

export default {
  components: {
    VueEditor,
  },
  props: {
    item: { type: Object },
    isNew: false,
    errors: [],
  },
  methods: {
    onItemChanged() {
      this.$emit("onItemChanged", this.item);
    },
    onItemDelete(dialog) {
      this.$emit("onItemDelete", this.item.id);
      dialog.close();
    },
  },
};
</script>
