﻿<template>
  <div class="row">
    <div class="col-xs-9">
      {{card.name}}
    </div>
    <div class="col-xs-3 text-right">
      <button class="btn btn-sm btn-success" @click.prevent="selectCard">
        <i class="ti-pencil"></i>
      </button>
      <button class="btn btn-sm btn-default" @click.prevent="openPageGallery" title="Sayfa Galerisi">
        <i class="ti-brush-alt"></i>
      </button>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        isSelected: false
      }
    },
    props: {
      card: {
        type: Object,
        required: true
      }
    },
    methods: {
      selectCard() {
        this.isSelected = true;
        if (!this.card.htmlContent) {
          this.card.htmlContent = '';
        }

        this.$emit("onCardSelected", this.card);
      },
      openPageGallery() {
        this.isSelected = true;
        this.$emit("openPageGallery", this.card);
      }
    }
  };
</script>
<style>
</style>
