﻿
.custom__tag {
  display: inline-block;
  padding: 3px 12px;
  background: #d2d7ff;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer
}

.custom__tag:nth-child(2n) {
  background: #daffee
}

.custom__tag:hover {
  background: #eaeaea
}

.custom__remove {
  padding: 0;
  font-size: 10px;
  margin-left: 5px
}

.multiselect__tags {
  border-color: #CCC5B9 !important;
}
