﻿<template>
  <div class="card">
    <div class="header">
      <div class="col-xs-4">
        <h4 class="title">Tekne Düzenle / Ekle</h4>
      </div>
      <div class="col-xs-8 lead text-right">
        <button type="button" class="btn btn-danger btn-fill" @click="onClose">
          <i class="ti-close"></i>
        </button>
      </div>
    </div>
    <div class="content">
      <form v-if="item">
        <div class="form-group">
          <label>Destinations</label>
          <div>
            <multiselect
              v-model="destinations"
              :options="multiselectOptions"
              :selectOptions="allDestinations"
              :reloadInit="reloadInit"
              @vueMultiSelectInited="reloadInit = false"
              btnLabel="Destinations"
            />
          </div>
          <div class="help-block" v-if="destinations.length > 0">
            <ul>
              <li v-for="d in destinations">{{ d.name }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label>Recommended</label>
          <input
            type="checkbox"
            placeholder="Shows in Recommended Box"
            v-model="item.recommended"
            class="checkbox"
          />
        </div>

        <fg-input
          type="text"
          label="Code"
          placeholder="Yacht Code"
          v-model="item.code"
        ></fg-input>
        <fg-input
          type="text"
          label="Name"
          placeholder="Yacht Name"
          v-model="item.name"
        ></fg-input>
        <fg-input
          type="text"
          label="Posible Departures"
          placeholder="Posible Departures"
          v-model="item.posibleDepartures"
        ></fg-input>
        <fg-input
          type="text"
          label="Number Of Cabins"
          placeholder="Number Of Cabins"
          v-model="item.numberOfCabins"
        ></fg-input>
        <fg-input
          type="text"
          label="Max. Number Of Guests"
          placeholder="Max. Number Of Guests"
          v-model="item.maxNumberOfGuests"
        ></fg-input>
        <fg-input
          type="text"
          label="Length"
          placeholder="Length"
          v-model="item.length"
        ></fg-input>
        <fg-input
          type="text"
          label="Beam"
          placeholder="Beam"
          v-model="item.beam"
        ></fg-input>
        <fg-input
          type="text"
          label="Draft"
          placeholder="Draft"
          v-model="item.draft"
        ></fg-input>
        <fg-input
          type="text"
          label="Cruise Speed"
          placeholder="Cruise Speed"
          v-model="item.cruiseSpeed"
        ></fg-input>
        <fg-input
          type="text"
          label="Water Tank Capacity"
          placeholder="Water Tank Capacity"
          v-model="item.waterTank"
        ></fg-input>
        <fg-input
          type="text"
          label="Crew Description"
          placeholder="Crew Description"
          v-model="item.crewDescription"
        ></fg-input>
        <fg-input
          type="text"
          label="Sailing"
          placeholder="Sailing"
          v-model="item.sailing"
        ></fg-input>
        <fg-input
          type="text"
          label="Check In Time"
          placeholder="Check In Time"
          v-model="item.checkInTime"
        ></fg-input>
        <fg-input
          type="text"
          label="Check Out Time"
          placeholder="Check Out Time"
          v-model="item.checkOutTime"
        ></fg-input>
        <div class="form-group">
          <label>About Yacht</label>
          <vue-editor v-model="item.yachtDescription"></vue-editor>
        </div>
        <div class="form-group">
          <label>Price Description</label>
          <vue-editor v-model="item.priceDescription"></vue-editor>
        </div>
        <div class="form-group">
          <label>Price Detailed Description</label>
          <vue-editor v-model="item.priceDetailedDescription"></vue-editor>
        </div>
        <div class="form-group">
          <label>Accommodation Details</label>
          <vue-editor v-model="item.accommodationDetails"></vue-editor>
        </div>
        <fg-input
          type="text"
          label="Tags"
          placeholder="Tags"
          v-model="item.tags"
        ></fg-input>
        <fg-input
          type="number"
          label="Display Order"
          placeholder="Display Order"
          v-model="item.displayOrder"
        ></fg-input>

        <div class="clearfix"></div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-info btn-fill btn-wd"
            @click.prevent="onItemChanged"
          >
            Kaydet
          </button>
          <button
            type="button"
            class="btn btn-danger btn-fill btn-wd"
            v-if="!isNew"
            v-confirm="{
              loader: true,
              ok: (dialog) => onItemDelete(dialog),
              message: 'Silmek istediğinizden emin misiniz?',
            }"
          >
            Sil
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { VueEditor } from "vue2-editor";
export default {
  components: {
    VueEditor,
  },
  data() {
    return {
      reloadInit: false,
      destinations: [],
      multiselectOptions: {
        multi: true,
        groups: false,
      },
    };
  },
  computed: {
    allDestinations() {
      return this.$YachtCategories;
    },
  },
  props: {
    item: { type: Object },
    isNew: false,
    errors: [],
  },
  watch: {
    destinations: function () {
      this.item.destination = this.destinations.map((x) => x.name).join(",");
    },
  },
  mounted() {
    if (this.item.destination) {
      this.destinations = this.item.destination.split(",").map(function (x) {
        return { name: x };
      });
      this.reloadInit = true;
    }
  },
  methods: {
    onItemChanged() {
      if (this.hasError) {
        this.$toastr("error", "Lütfen formdaki hataları düzeltiniz.", "Hata!");
      } else {
        this.$emit("onItemChanged", this.item);
      }
    },
    onItemDelete(dialog) {
      this.$emit("onItemDelete", this.item.id);
      dialog.close();
    },
    onClose() {
      this.$emit("onFormClose");
    },
  },
};
</script>
