﻿<template>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="col-md-10">
          <h4>{{yacht.name}} Fiyatlar</h4>
        </div>
        <div class="col-md-2 text-right">
          <uiv-btn type="danger" @click="onClose" v-uiv-tooltip="'Kapat'">
            <i class="ti-close"></i>
          </uiv-btn>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="form-inline">
          <uiv-btn type="info" @click="onNew" v-uiv-tooltip="'Yeni Fiyat Ekle'">
            <i class="ti-plus"></i>
          </uiv-btn>
          <template v-if="selected">
            <div class="form-group">
              <label class="sr-only" for="amountYear">Year</label>
              <div class="input-group">
                <div class="input-group-addon">Yıl</div>
                <input type="number" class="form-control" id="amountYear" placeholder="Yıl" v-model="selected.year">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="amountName">Name</label>
              <div class="input-group">
                <div class="input-group-addon">Ad</div>
                <input type="text" class="form-control" id="amountName" placeholder="Ad" v-model="selected.name">
              </div>
            </div>
            <div class="form-group">
              <label class="sr-only" for="yachtInputAmount">Amount (in euros)</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <input type="text" class="form-control" id="yachtInputAmount" placeholder="Amount" v-model="selected.price">
              </div>
            </div>
            <div class="form-group">
              <uiv-dropdown class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" :value="selected.startDate|formatDate" placeholder="Başlangıç Tarihi" />
                  <div class="input-group-btn">
                    <uiv-btn class="dropdown-toggle"><i class="glyphicon glyphicon-th"></i></uiv-btn>
                  </div>
                </div>
                <template slot="dropdown">
                  <li>
                    <uiv-date-picker v-model="selected.startDate" :week-starts-with="1" />
                  </li>
                </template>
              </uiv-dropdown>
            </div>
            <div class="form-group">
              <uiv-dropdown class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" :value="selected.endDate|formatDate" placeholder="Bitiş Tarihi" />
                  <div class="input-group-btn">
                    <uiv-btn class="dropdown-toggle"><i class="glyphicon glyphicon-th"></i></uiv-btn>
                  </div>
                </div>
                <template slot="dropdown">
                  <li>
                    <uiv-date-picker v-model="selected.endDate" :week-starts-with="1" />
                  </li>
                </template>
              </uiv-dropdown>
            </div>
            <div class="form-group">
              <label>Aktif ?</label>
              <input type="checkbox" class="form-control" v-model="selected.active">
            </div>
            <uiv-btn type="success" @click="onSavePrice()" v-uiv-tooltip="'Kaydet'">
              <i class="ti-save"></i>
            </uiv-btn>
            <div class="clearfix">&nbsp;</div>
            <div class="form-group mr-5" v-for="(d,i) in saturdayDates" :key="i" v-if="selected.yachtPriceWeeks.length>0">
              <label>{{i+1}}.Hafta [{{d}}] &nbsp;</label>
              <select class="form-control" v-model="selected.yachtPriceWeeks[i]">
                  <option :value="{id:selected.yachtPriceWeeks[i].id, weekNo:i+1,state:0,startDate:d, endDate:addWeek(d), yachtPriceId:selected.id}">Açık</option>
                  <option :value="{id:selected.yachtPriceWeeks[i].id, weekNo:i+1,state:1,startDate:d, endDate:addWeek(d), yachtPriceId:selected.id}">Satıldı</option>
                  <option :value="{id:selected.yachtPriceWeeks[i].id, weekNo:i+1,state:2,startDate:d, endDate:addWeek(d), yachtPriceId:selected.id}">Opsiyon</option>
              </select> 
            </div>
          </template>
        </div>

      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-body">
        <div class="form-group">
          <label class="sr-only" for="amountYear">Year</label>
          <div class="input-group">
            <div class="input-group-addon">Yıl</div>
            <input type="number" class="form-control" placeholder="Yıl" v-model="year">
          </div>
        </div>
        <vue-good-table :columns="columns" :rows="prices"
                        :pagination-options="{
                                                enabled: true,
                                                mode: 'pages',
                                                perPage: 10,
                                                position: 'bottom',
                                                perPageDropdown: [2, 10, 20, 30, 50, 100],
                                                dropdownAllowAll: true,
                                                setCurrentPage: 1,
                                                nextLabel: 'ileri',
                                                prevLabel: 'geri',
                                                rowsPerPageLabel: 'Satır sayısı',
                                                ofLabel: ' - ',
                                                pageLabel: 'sayfa',
                                                allLabel: 'Tümü',
                                              }"
                        :search-options="{
                                              enabled: true,
                                              placeholder: 'Herhangi bir sütunda arama yapabilirsiniz'
                                            }">
          <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'actions'">
              <uiv-btn type="success" size="sm" @click="onRowSelected(props.row)" v-uiv-tooltip="'Düzenle'">
                <i class="ti-pencil"></i>
              </uiv-btn>
              <uiv-btn type="danger" size="sm" v-uiv-tooltip="'Sil'" v-confirm="{loader:true, ok: dialog => onItemDelete(dialog,props.row.id), message: 'Silmek istediğinizden emin misiniz?'}">
                <i class="ti-trash"></i>
              </uiv-btn>
            </span>
            <span v-else>
              {{props.formattedRow[props.column.field]}}
            </span>
          </template>
        </vue-good-table>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  props: {
    yacht: {
      type: Object
    }
  },
  data() {
    return {
      prices: [],
      year: moment().year(),
      saturdayDates: [],
      columns: [
        {
          label: "Yıl",
          field: "year"
        },
        {
          label: "Ad",
          field: "name"
        },
        {
          label: "Başlangıç Tarihi",
          field: "startDate",
          formatFn: this.$options.filters.formatDate
        },
        {
          label: "Bitiş Tarihi",
          field: "endDate",
          formatFn: this.$options.filters.formatDate
        },
        {
          label: "Fiyat (€)",
          field: "price"
        },
        {
          field: "actions"
        }
      ]
    };
  },
  computed: mapState({
    selected: state => state.yachtprices.selected,
    isNew: state => state.yachtprices.isNew,
    errors: state => (state.errors ? state.errors : []),
    season: state => state.settings.model.season
  }),
  created() {
    this.$store
      .dispatch("settings/get")
      .then(data => (this.year = data[0].season));

    this.getPrices();
  },
  watch: {
    year() {
      this.getPrices();
    }
  },
  methods: {
    ...mapActions("yachtprices", [
      "onSave",
      "onNew",
      "onDelete",
      "onItemSelected"
    ]),
    getPrices() {
      this.$store
        .dispatch("yachtprices/getAll", {
          yachtId: this.yacht.id,
          year: this.year
        })
        .then(data => {
          this.prices = data;
          this.prices = this.prices.map(x => {
            if (!x.yachtPriceWeeks || x.yachtPriceWeeks.length == 0) {
              this.getSaturdays(moment(x.startDate), moment(x.endDate), []);
              if (this.saturdayDates) {
                this.saturdayDates.map((element, i) => {
                  x.yachtPriceWeeks.push({
                    id: 0,
                    weekNo: i + 1,
                    state: 0,
                    startDate: element,
                    endDate: this.addWeek(element),
                    yachtPriceId: x.id
                  });
                });
              }
            } else {
              x.yachtPriceWeeks = x.yachtPriceWeeks.map(w => {
                w.startDate = moment(w.startDate).format("DD.MM.YYYY");
                w.endDate = moment(w.endDate).format("DD.MM.YYYY");
                return w;
              });
            }
            return x;
          });
        });
    },

    onRowSelected(row) {
      this.getSaturdays(moment(row.startDate), moment(row.endDate), []);
      this.onItemSelected(row);
    },
    onClose() {
      this.$emit("onPricesClose");
    },
    onSavePrice() {
      if (this.isNew) {
        this.selected.yachtId = this.yacht.id;
      }
      this.$store.dispatch("yachtprices/onSave", this.selected).then(data => {
        this.getPrices();
      });
    },
    onItemDelete(dialog, id) {
      this.onDelete(id);
      this.getPrices();
      dialog.close();
    },
    getSaturdays: function(beginDate, endDate, sats) {
      const dayINeed = 6; // for saturday
      const month = beginDate.month();
      if ( beginDate <= endDate) {
        sats.push(beginDate.isoWeekday(dayINeed).format("DD.MM.YYYY"));
        this.getSaturdays(beginDate.add(1, "weeks"), endDate, sats);
      } else {
        this.saturdayDates = sats;
      }
    },
    addWeek: function(d) {
      return moment(d, "DD.MM.YYYY")
        .add(6, "days")
        .format("DD.MM.YYYY");
    }
  }
};
</script>
