﻿<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}" @click="toggleSidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand">{{routeName}}</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <drop-down :title="authenticatedUserName" icon="ti-user">
            <li><a v-on:click="logout">Çıkış</a></li>
          </drop-down>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  import { mapState, mapActions, mapGetters } from 'vuex';

  export default {
    computed: {
      routeName() {
        const { name } = this.$route
        return this.capitalizeFirstLetter(name)
      },
      ...mapGetters('member', ['authenticatedUserName', 'isLoggedOut'])
    },
    watch: {
      isLoggedOut: function () {
        if (this.isLoggedOut)
          window.location = '/admin';
      }
    },
    created() {
      this.$store.dispatch("member/getAuthenticatedUser");
    },
    data() {
      return {
        activeNotifications: false
      }
    },
    methods: {
      capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown() {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown() {
        this.activeNotifications = false
      },
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar() {
        this.$sidebar.displaySidebar(false)
      },
      logout() {
        this.$store.dispatch("member/logout");

      }
    }
  }

</script>
<style>
</style>
